<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AvukatProLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AvukatProLib.Properties.Settings.AVP_MYSConnectionString1"
        connectionString="Data Source=89.19.25.138;Initial Catalog=AVP_MYS;Persist Security Info=True;User ID=AVP_NHA_NG"
        providerName="System.Data.SqlClient" />
    <add name="AvukatProLib.Properties.Settings.AVP_MYSConnectionString"
        connectionString="Data Source=89.19.25.138;Initial Catalog=AVP_MYS;User ID=AVP_NHA_NG;Password=sch1open5"
        providerName="System.Data.SqlClient" />
    <add name="AvukatProLib.Properties.Settings.AVP_MYSConnectionString2"
        connectionString="Data Source=.;Initial Catalog=AVP_MYS;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <AvukatProLib.Properties.Settings>
      <setting name="AvukatProLib_LcControl_UPDATE_SOAP_API_NENC" serializeAs="String">
        <value>http://localhost/update/UPDATE_SOAP_API_NENC.asmx</value>
      </setting>
      <setting name="AvukatProLib_ModulSoapProvider_MODUL_SOAP_API_NENC"
          serializeAs="String">
        <value>http://localhost:3767/Avukatpro.WebServices/MODUL_SOAP_API_NENC.asmx</value>
      </setting>
      <setting name="AvukatProLib_AVPLicence_LicenceControl" serializeAs="String">
        <value>http://avukatpro.com/AVPLisans/LicenceControl.asmx</value>
      </setting>
      <setting name="AvukatProLib_pttSorgu_SorguService" serializeAs="String">
        <value>http://pttws.ptt.gov.tr/GonderiHareket/services/Sorgu</value>
      </setting>
    </AvukatProLib.Properties.Settings>
  </applicationSettings>

  <system.web>
    <httpModules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpModules>
  </system.web>

  <system.webServer>
    <modules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </modules>
  </system.webServer>
</configuration>