CREATE PROC [dbo].[_AV001_TI_BIL_BORCLU_ODEME_CariHesapOlustur_V3]
(
	@ODEME_ID INT
)
AS

DECLARE @TARAF_TABLOSU TABLE( CARI_ID INT, ODEYEN BIT)
DECLARE
	@ODEME_TIP_ID int	,
	@ICRA_FOY_ID int	,
	@ODEME_TARIHI smalldatetime	,
	@ODEME_MIKTAR_DOVIZ_ID int	,
	@ODEME_MIKTAR money	,
	@ACIKLAMA NVARCHAR(150)	,
	@KAYIT_TARIHI datetime	,
	@KLASOR_KODU NVARCHAR(200)	,
	@SUBE_KODU smallint	,
	@KONTROL_NE_ZAMAN datetime	,
	@KONTROL_KIM NVARCHAR(200)	,
	@KONTROL_VERSIYON int	,
	@STAMP smallint	,
	@KONTROL_KIM_ID int	,
	@SUBE_KOD_ID INT,	
	@ODEYEN_CARI_ID INT,
	@ODENEN_CARI_ID INT,
	@ESKI_HESAP_ID INT,
	@CARI_ID INT,
	@ODEYENMI BIT,
	@PROJE_ID INT	
SELECT 
	@ODEME_TIP_ID = ODEME.ODEME_TIP_ID,
	@ICRA_FOY_ID = ODEME.ICRA_FOY_ID,
	@ODEME_TARIHI = ODEME.ODEME_TARIHI,
	@ODEME_MIKTAR_DOVIZ_ID = ODEME.ODEME_MIKTAR_DOVIZ_ID,
	@ODEME_MIKTAR = ODEME.ODEME_MIKTAR,
	@ACIKLAMA = ODEME.ACIKLAMA,
	@KAYIT_TARIHI = ODEME.KAYIT_TARIHI,
	@KLASOR_KODU = ODEME.KLASOR_KODU,
	@SUBE_KODU = ODEME.SUBE_KODU,
	@KONTROL_NE_ZAMAN = ODEME.KONTROL_NE_ZAMAN,
	@KONTROL_KIM = ODEME.KONTROL_KIM,
	@KONTROL_VERSIYON = ODEME.KONTROL_VERSIYON,
	@SUBE_KOD_ID = ODEME.SUBE_KOD_ID,
	@ODEYEN_CARI_ID = ODEME.ODENEN_CARI_ID,--müvekkil
	@ODENEN_CARI_ID = ODEME.BORCLU_ADINA_ODENEN_CARI_ID,--personel
	@STAMP = ODEME.STAMP,
	@KONTROL_KIM_ID = ODEME.KONTROL_KIM_ID,
	@PROJE_ID = NN.PROJE_ID
	 
FROM AV001_TI_BIL_BORCLU_ODEME ODEME LEFT JOIN AV001_TDIE_BIL_PROJE_ICRA_BORCLU_ODEME NN
ON ODEME.ID = NN.BORCLU_ODEME_ID
WHERE ODEME.ID = @ODEME_ID

INSERT INTO @TARAF_TABLOSU( CARI_ID, ODEYEN ) VALUES (@ODEYEN_CARI_ID, 1 )
INSERT INTO @TARAF_TABLOSU( CARI_ID, ODEYEN ) VALUES (@ODENEN_CARI_ID, 0 )


DECLARE taraf_Cursor CURSOR FAST_FORWARD FOR ( SELECT CARI_ID, ODEYEN FROM @TARAF_TABLOSU ) 

OPEN taraf_Cursor 
	
	
FETCH NEXT FROM taraf_Cursor INTO @CARI_ID, @ODEYENMI  

	WHILE @@FETCH_STATUS = 0
	BEGIN	
		
		DECLARE @ODEME MONEY, @BORC_ALACAK_ID INT
		
		SET @ODEME = @ODEME_MIKTAR
		
		IF @ODEYENMI = 1 --Müvekkil
		BEGIN
			IF @ODEME_MIKTAR < 0
			BEGIN
				SET @ODEME  = @ODEME_MIKTAR * -1
			END	
			SET @BORC_ALACAK_ID = 1
					
		END
		ELSE IF @ODEYENMI = 0 --Personel
		BEGIN
			IF @ODEME_MIKTAR > 0
			BEGIN
				SET @ODEME = @ODEME_MIKTAR * -1
			END
			SET @BORC_ALACAK_ID = 2					
		END
		
		SET @ESKI_HESAP_ID = 0
	
		SELECT	@ESKI_HESAP_ID = ID FROM AV001_TDI_BIL_CARI_HESAP 
		WHERE ICRA_BORCLU_ODEME_ID = @ODEME_ID AND CARI_ID = @CARI_ID

		IF (@ESKI_HESAP_ID > 0)
		BEGIN
			UPDATE AV001_TDI_BIL_CARI_HESAP
			SET
				CARI_ID = @CARI_ID ,
				CARI_ADI = '' ,
				REFERANS_NO = '' ,
				ACIKLAMA = @ACIKLAMA ,
				KAYIT_TARIHI = @KAYIT_TARIHI ,
				KLASOR_KODU = @KLASOR_KODU ,
				SUBE_KODU = @SUBE_KODU ,
				KONTROL_NE_ZAMAN = @KONTROL_NE_ZAMAN ,
				KONTROL_KIM = @KONTROL_KIM ,
				KONTROL_VERSIYON = @KONTROL_VERSIYON ,
				STAMP = @STAMP ,
				KONTROL_KIM_ID = @KONTROL_KIM_ID ,
				SUBE_KOD_ID = @SUBE_KOD_ID,
				ICRA_BORCLU_ODEME_ID = @ODEME_ID
			
			WHERE ID = @ESKI_HESAP_ID		
			
		END
		ELSE
		BEGIN
			INSERT INTO AV001_TDI_BIL_CARI_HESAP
			(
				CARI_ID	,
				CARI_ADI	,
				REFERANS_NO	,
				ACIKLAMA	,
				KAYIT_TARIHI	,
				KLASOR_KODU	,
				SUBE_KODU	,
				KONTROL_NE_ZAMAN	,
				KONTROL_KIM	,
				KONTROL_VERSIYON	,
				STAMP	,
				KONTROL_KIM_ID	,
				SUBE_KOD_ID	,
				ICRA_BORCLU_ODEME_ID
				
			)
			VALUES
			(
				@CARI_ID	,
				''	,
				''	,
				@ACIKLAMA	,
				@KAYIT_TARIHI	,
				@KLASOR_KODU	,
				@SUBE_KODU	,
				@KONTROL_NE_ZAMAN	,
				@KONTROL_KIM	,
				@KONTROL_VERSIYON	,
				@STAMP	,
				@KONTROL_KIM_ID	,
				@SUBE_KOD_ID,
				@ODEME_ID	
			)
			
			SELECT @ESKI_HESAP_ID = SCOPE_IDENTITY()
			
		END
		DECLARE @DETAY_ID INT
	    
		SELECT @DETAY_ID = ID FROM AV001_TDI_BIL_CARI_HESAP_DETAY WHERE CARI_HESAP_ID = @ESKI_HESAP_ID

		IF @DETAY_ID > 0
		BEGIN
			UPDATE AV001_TDI_BIL_CARI_HESAP_DETAY
			SET	
				CARI_HESAP_ID = @ESKI_HESAP_ID ,
				DOSYA_MUH_AKTARILDI = 0 ,
				BORC_ALACAK_ID = @BORC_ALACAK_ID ,
				BORC_ALACAK = '' ,
				ODEME_TIP_ID = @ODEME_TIP_ID ,
				ODEME_TIP = '' ,
				CARI_HESAP_HEDEF_TIP = 1 ,
				ICRA_FOY_ID = @ICRA_FOY_ID ,
				TARIH = @ODEME_TARIHI ,
				KULLANICI_BELGE_NO = '' ,
				HAREKET_ANA_KATEGORI_ID = 15 ,
				HAREKET_ANA_KATEGORI = '' ,
				HAREKET_ALT_KAREGORI_ID = 377 ,
				ADET = 1 ,
				BIRIM_FIYAT_DOVIZ_ID = @ODEME_MIKTAR_DOVIZ_ID ,
				BIRIM_FIYAT_DOVIZ = '' ,
				BIRIM_FIYAT_DOVIZ_KUR = 1 ,
				BIRIM_FIYAT = @ODEME ,
				GENEL_TOPLAM = @ODEME ,
				ACIKLAMA = @ACIKLAMA ,
				KAYIT_TARIHI = @KAYIT_TARIHI ,
				KLASOR_KODU = @KLASOR_KODU ,
				SUBE_KODU = @SUBE_KODU ,
				KONTROL_NE_ZAMAN = @KONTROL_NE_ZAMAN ,
				KONTROL_KIM = @KONTROL_KIM ,
				KONTROL_VERSIYON = @KONTROL_VERSIYON ,
				STAMP = @STAMP ,
				INCELENDI = 0 ,
				ONAY_NO = '' ,
				KONTROL_KIM_ID = @KONTROL_KIM_ID ,
				SUBE_KOD_ID = @SUBE_KOD_ID,
				PROJE_ID = @PROJE_ID
				 
			WHERE ID = @DETAY_ID
		END
		ELSE
		BEGIN
			INSERT INTO AV001_TDI_BIL_CARI_HESAP_DETAY
			(
				CARI_HESAP_ID  ,
				DOSYA_MUH_AKTARILDI  ,
				BORC_ALACAK_ID  ,
				BORC_ALACAK  ,
				ODEME_TIP_ID  ,
				ODEME_TIP  ,
				CARI_HESAP_HEDEF_TIP  ,
				ICRA_FOY_ID  ,
				TARIH  ,
				KULLANICI_BELGE_NO  ,
				HAREKET_ANA_KATEGORI_ID  ,
				HAREKET_ANA_KATEGORI  ,
				HAREKET_ALT_KAREGORI_ID  ,
				ADET  ,
				BIRIM_FIYAT_DOVIZ_ID  ,
				BIRIM_FIYAT_DOVIZ  ,
				BIRIM_FIYAT_DOVIZ_KUR  ,
				BIRIM_FIYAT  ,
				GENEL_TOPLAM  ,
				ACIKLAMA  ,
				KAYIT_TARIHI  ,
				KLASOR_KODU  ,
				SUBE_KODU  ,
				KONTROL_NE_ZAMAN  ,
				KONTROL_KIM  ,
				KONTROL_VERSIYON  ,
				STAMP  ,
				INCELENDI  ,
				ONAY_NO  ,
				KONTROL_KIM_ID  ,
				SUBE_KOD_ID ,
				PROJE_ID 
			)
			VALUES
			(
				@ESKI_HESAP_ID ,
				0 ,
				@BORC_ALACAK_ID ,
				'' ,
				@ODEME_TIP_ID ,
				'' ,
				1 ,
				@ICRA_FOY_ID ,
				@ODEME_TARIHI ,
				'' ,
				15 ,
				'' ,
				377 ,
				1 ,
				@ODEME_MIKTAR_DOVIZ_ID ,
				'' ,
				1 ,
				@ODEME ,
				@ODEME ,
				@ACIKLAMA ,
				@KAYIT_TARIHI ,
				@KLASOR_KODU ,
				@SUBE_KODU ,
				@KONTROL_NE_ZAMAN ,
				@KONTROL_KIM ,
				@KONTROL_VERSIYON ,
				@STAMP ,
				0 ,
				'' ,
				@KONTROL_KIM_ID ,
				@SUBE_KOD_ID ,
				@PROJE_ID
			)
		END			
		FETCH NEXT FROM taraf_Cursor INTO @CARI_ID, @ODEYENMI  
		END
CLOSE taraf_cursor 
DEALLOCATE taraf_cursor  
