CREATE PROC [dbo].[_AV001_TI_BIL_MUVEKKILE_ODEME_CariHesapOlustur_V2]
(
	@MUVEKKILE_ODEME_ID INT
)
AS
DECLARE @TARAF_TABLOSU TABLE ( CARI_ID INT, ODEYENMI BIT )
DECLARE
	@CARI_ID INT,
	@ODEYENMI BIT,

	@ODEME_TIP_ID int	,
	@ICRA_FOY_ID INT ,
	@DAVA_FOY_ID INT ,
	@HAZIRLIK_FOY_ID INT ,
	@ODEME_TARIHI SMALLDATETIME ,
	@MIKTAR_DOVIZ_ID INT ,
	@MIKTAR money ,	
	@ACIKLAMA NVARCHAR(MAX),
	@KAYIT_TARIHI DATETIME ,
	@KLASOR_KODU NVARCHAR(200) ,
	@SUBE_KODU SMALLINT ,
	@KONTROL_NE_ZAMAN DATETIME ,
	@KONTROL_KIM NVARCHAR(200) ,
	@KONTROL_VERSIYON INT ,
	@STAMP SMALLINT ,
	@KONTROL_KIM_ID INT ,
	@SUBE_KOD_ID INT ,
	@ESKI_HESAP_ID INT ,
	@ODEYEN_CARI_ID INT,
	@ODENEN_CARI_ID INT

SELECT 
	@ODEME_TIP_ID = ODEME_TIP_ID,
	@ICRA_FOY_ID = ICRA_FOY_ID ,
	@DAVA_FOY_ID = DAVA_FOY_ID ,
	@HAZIRLIK_FOY_ID = HAZIRLIK_FOY_ID ,
	@ODEME_TARIHI = ODEME_TARIHI ,
	@MIKTAR_DOVIZ_ID = MIKTAR_DOVIZ_ID ,
	@MIKTAR = MIKTAR ,
	@ACIKLAMA = ACIKLAMA ,
	@KAYIT_TARIHI = KAYIT_TARIHI ,
	@KLASOR_KODU = KLASOR_KODU ,
	@SUBE_KODU = SUBE_KODU ,
	@KONTROL_NE_ZAMAN = KONTROL_NE_ZAMAN ,
	@KONTROL_KIM = KONTROL_KIM ,
	@KONTROL_VERSIYON = KONTROL_VERSIYON ,
	@STAMP = STAMP ,
	@KONTROL_KIM_ID = KONTROL_KIM_ID ,
	@SUBE_KOD_ID = SUBE_KOD_ID ,
	@ODEYEN_CARI_ID = ODEYEN_CARI_ID ,--Personel
	@ODENEN_CARI_ID = ODENEN_CARI_ID --Müvekkil
FROM AV001_TI_BIL_MUVEKKILE_ODEME
WHERE ID = @MUVEKKILE_ODEME_ID
 	

INSERT INTO @TARAF_TABLOSU( CARI_ID, ODEYENMI ) VALUES ( @ODEYEN_CARI_ID, 1 )
INSERT INTO @TARAF_TABLOSU( CARI_ID, ODEYENMI ) VALUES ( @ODENEN_CARI_ID, 0 )


DECLARE taraf_Cursor CURSOR FAST_FORWARD FOR (SELECT tt.CARI_ID, tt.ODEYENMI FROM @TARAF_TABLOSU tt)

OPEN taraf_Cursor

FETCH NEXT FROM taraf_Cursor INTO @CARI_ID, @ODEYENMI


WHILE @@FETCH_STATUS = 0
BEGIN
	DECLARE @BORC_ALACAK_ID INT, @TUTAR MONEY
	SET @TUTAR = @MIKTAR
	
	IF @ODEYENMI = 1 --Personel
	BEGIN
		SET @BORC_ALACAK_ID = 1
		IF @TUTAR < 0
		BEGIN
			SET @TUTAR = @TUTAR * -1
		END		
	END
	ELSE IF @ODEYENMI = 0 --Müvekkil
	BEGIN
		SET @BORC_ALACAK_ID = 2
		IF @TUTAR > 0
		BEGIN
			SET @TUTAR = @TUTAR * -1
		END
	END
	
	SET @ESKI_HESAP_ID = 0
	
	SELECT @ESKI_HESAP_ID = ID FROM AV001_TDI_BIL_CARI_HESAP WHERE MUVEKKILE_ODEME_ID = @MUVEKKILE_ODEME_ID AND CARI_ID =  @CARI_ID
	
	IF @ESKI_HESAP_ID > 0
	BEGIN
		UPDATE AV001_TDI_BIL_CARI_HESAP
		SET				
			CARI_ID = @CARI_ID ,
			CARI_ADI =  '' ,
			REFERANS_NO =  '' ,
			ACIKLAMA = @ACIKLAMA ,
			KAYIT_TARIHI = @KAYIT_TARIHI ,
			KLASOR_KODU = @KLASOR_KODU ,
			SUBE_KODU = @SUBE_KODU ,
			KONTROL_NE_ZAMAN = @KONTROL_NE_ZAMAN ,
			KONTROL_KIM = @KONTROL_KIM ,
			KONTROL_VERSIYON = @KONTROL_VERSIYON ,
			STAMP = @STAMP ,
			KONTROL_KIM_ID = @KONTROL_KIM_ID ,
			SUBE_KOD_ID = @SUBE_KOD_ID,
			MUVEKKILE_ODEME_ID = @MUVEKKILE_ODEME_ID 
		WHERE ID = @ESKI_HESAP_ID		
	END
	ELSE 
	BEGIN
		INSERT INTO AV001_TDI_BIL_CARI_HESAP
		(
			CARI_ID	,
			CARI_ADI	,
			REFERANS_NO	,
			ACIKLAMA	,
			KAYIT_TARIHI	,
			KLASOR_KODU	,
			SUBE_KODU	,
			KONTROL_NE_ZAMAN	,
			KONTROL_KIM	,
			KONTROL_VERSIYON	,
			STAMP	,
			KONTROL_KIM_ID	,
			SUBE_KOD_ID	,
			MUVEKKILE_ODEME_ID

		)
		VALUES
		(
			@CARI_ID	,
			''	,
			''	,
			@ACIKLAMA	,
			@KAYIT_TARIHI	,
			@KLASOR_KODU	,
			@SUBE_KODU	,
			@KONTROL_NE_ZAMAN	,
			@KONTROL_KIM	,
			@KONTROL_VERSIYON	,
			@STAMP	,
			@KONTROL_KIM_ID	,
			@SUBE_KOD_ID	,
			@MUVEKKILE_ODEME_ID
		)
		
		SET @ESKI_HESAP_ID = SCOPE_IDENTITY()
	END
	
	DECLARE @DETAY_ID INT
	
	SELECT @DETAY_ID = ID FROM AV001_TDI_BIL_CARI_HESAP_DETAY WHERE CARI_HESAP_ID = @ESKI_HESAP_ID
	
	IF @DETAY_ID > 0
	BEGIN
		
		UPDATE AV001_TDI_BIL_CARI_HESAP_DETAY
		SET
			CARI_HESAP_ID = @ESKI_HESAP_ID,
			DOSYA_MUH_AKTARILDI =  1 ,
			BORC_ALACAK =  '' ,
			BORC_ALACAK_ID = @BORC_ALACAK_ID,
			ODEME_TIP =  '' ,
			ODEME_TIP_ID= @ODEME_TIP_ID,
			CARI_HESAP_HEDEF_TIP =  1 ,
			ICRA_FOY_ID = @ICRA_FOY_ID ,
			DAVA_FOY_ID = @DAVA_FOY_ID ,
			HAZIRLIK_ID = @HAZIRLIK_FOY_ID ,
			TARIH = @ODEME_TARIHI ,
			KULLANICI_BELGE_NO =  '' ,
			HAREKET_ANA_KATEGORI =  '' ,
			ADET =  1 ,
			BIRIM_FIYAT_DOVIZ_ID = @MIKTAR_DOVIZ_ID ,
			BIRIM_FIYAT_DOVIZ =  '' ,
			BIRIM_FIYAT_DOVIZ_KUR =  1 ,
			BIRIM_FIYAT = @TUTAR ,
			GENEL_TOPLAM = @TUTAR ,
			ACIKLAMA = @ACIKLAMA ,
			KAYIT_TARIHI = @KAYIT_TARIHI ,
			KLASOR_KODU = @KLASOR_KODU ,
			SUBE_KODU = @SUBE_KODU ,
			KONTROL_NE_ZAMAN = @KONTROL_NE_ZAMAN ,
			KONTROL_KIM = @KONTROL_KIM ,
			KONTROL_VERSIYON = @KONTROL_VERSIYON ,
			STAMP = @STAMP ,
			INCELENDI =  0 ,
			ONAY_NO =  '' ,
			KONTROL_KIM_ID = @KONTROL_KIM_ID ,
			SUBE_KOD_ID = @SUBE_KOD_ID ,
			HAREKET_ANA_KATEGORI_ID = 15,
			HAREKET_ALT_KAREGORI_ID	= 381

		WHERE ID = @DETAY_ID
		
	END
	ELSE
	BEGIN
		INSERT INTO AV001_TDI_BIL_CARI_HESAP_DETAY
		(
			CARI_HESAP_ID,
			DOSYA_MUH_AKTARILDI	,
			BORC_ALACAK	,
			BORC_ALACAK_ID,
			ODEME_TIP	,
			ODEME_TIP_ID ,
			CARI_HESAP_HEDEF_TIP	,
			ICRA_FOY_ID	,
			DAVA_FOY_ID	,
			HAZIRLIK_ID	,
			TARIH	,
			KULLANICI_BELGE_NO	,
			HAREKET_ANA_KATEGORI	,
			ADET	,
			BIRIM_FIYAT_DOVIZ_ID	,
			BIRIM_FIYAT_DOVIZ	,
			BIRIM_FIYAT_DOVIZ_KUR	,
			BIRIM_FIYAT	,
			GENEL_TOPLAM	,
			ACIKLAMA	,
			KAYIT_TARIHI	,
			KLASOR_KODU	,
			SUBE_KODU	,
			KONTROL_NE_ZAMAN	,
			KONTROL_KIM	,
			KONTROL_VERSIYON	,
			STAMP	,
			INCELENDI	,
			ONAY_NO	,
			KONTROL_KIM_ID	,
			SUBE_KOD_ID	,
			HAREKET_ANA_KATEGORI_ID ,
			HAREKET_ALT_KAREGORI_ID	
		)
		VALUES
		(
			 @ESKI_HESAP_ID,
			 1 ,
			 '' ,
			 @BORC_ALACAK_ID,
			 '' ,
			 @ODEME_TIP_ID,
			 1 ,
			@ICRA_FOY_ID ,
			@DAVA_FOY_ID ,
			@HAZIRLIK_FOY_ID ,
			@ODEME_TARIHI ,
			 '' ,
			 '' ,
			 1 ,
			@MIKTAR_DOVIZ_ID ,
			 '' ,
			 1 ,
			@TUTAR ,
			@TUTAR ,
			@ACIKLAMA ,
			@KAYIT_TARIHI ,
			@KLASOR_KODU ,
			@SUBE_KODU ,
			@KONTROL_NE_ZAMAN ,
			@KONTROL_KIM ,
			@KONTROL_VERSIYON ,
			@STAMP ,
			 0 ,
			 '' ,
			@KONTROL_KIM_ID ,
			@SUBE_KOD_ID,
			15,
			381
 
		)
	END 
		
	FETCH NEXT FROM taraf_Cursor INTO @CARI_ID , @ODEYENMI
END

CLOSE taraf_Cursor
DEALLOCATE taraf_Cursor

