CREATE PROC [dbo].[_AV001_TDI_BIL_MASRAF_AVANS_CariHesapOlustur_V4]
(
	@MASRAF_AVANS_ID INT
)
AS

DECLARE @TARAF_TABLOSU TABLE(ID INT)

DECLARE

@TAMPON_BORC MONEY,
@ONCEKI_HESAP_ID INT,

--MASRAF AVANS TABLOSUNDAN ALINACAKLAR
@CARI_ID INT  ,
@REFERANS_NO NVARCHAR(200),
@ACIKLAMA NVARCHAR(MAX),
@KAYIT_TARIHI datetime,
@KLASOR_KODU NVARCHAR(250),
@SUBE_KODU smallint,
@KONTROL_NE_ZAMAN datetime,
@KONTROL_KIM NVARCHAR(250),
@KONTROL_VERSIYON int,
@STAMP smallint,
@KONTROL_KIM_ID INT ,
@SUBE_KOD_ID INT ,
@ICRA_FOY_ID INT ,
@ICRA_FOY_NO INT ,
@DAVA_FOY_ID INT ,
@DAVA_FOY_NO INT ,
@HAZIRLIK_ID INT ,
@HAZIRLIK_NO INT ,
@RUCU_ID INT ,
@RUCU_NO INT ,
@SOZLESME_ID INT ,
@CARI_HESAP_ID INT ,
@M_CARI_HESAP_ID INT ,
@MUVEKKIL_SAYISI INT,
@MASRAF_AVANS_TIP INT,
--MASRAF AVANS DETAY TABLOSUNDAN ALINACAKLAR
@BORC_ALACAK_ID int ,
@ODEME_TIP_ID int ,
@TARIH smalldatetime ,
@KULLANICI_BELGE_NO NVARCHAR(50) ,
@HAREKET_ANA_KATEGORI_ID int ,
@HAREKET_ALT_KATEGORI_ID int ,
@ADET int ,
@BIRIM_FIYAT_DOVIZ_ID int ,
@BIRIM_FIYAT_DOVIZ NVARCHAR(50) ,
@BIRIM_FIYAT_DOVIZ_KUR money ,
@BIRIM_FIYAT money ,
@GENEL_TOPLAM money ,
@DETAY_ACIKLAMA NVARCHAR(MAX) ,
@DETAY_KAYIT_TARIHI datetime ,
@DETAY_KLASOR_KODU NVARCHAR(250) ,
@DETAY_SUBE_KODU smallint ,
@DETAY_KONTROL_NE_ZAMAN datetime ,
@DETAY_KONTROL_KIM NVARCHAR(50) ,
@DETAY_KONTROL_VERSIYON int ,
@DETAY_STAMP smallint ,
@INCELENDI bit ,
@ONAY_TARIHI smalldatetime ,
@ONAY_NO NVARCHAR(400) ,
@ONAY_DURUM int ,
@DETAY_KONTROL_KIM_ID int ,
@DETAY_SUBE_KOD_ID int ,
@MUVEKKIL_CARI_ID INT ,
@MASRAF_AVANS_DETAY_ID INT

SET @MUVEKKIL_SAYISI = 1
SELECT
@CARI_ID    =  CARI_ID,
@REFERANS_NO  =  REFERANS_NO,
@ACIKLAMA    =  ACIKLAMA,
@KAYIT_TARIHI  =  KAYIT_TARIHI,
@KLASOR_KODU  =  KLASOR_KODU,
@SUBE_KODU    =  SUBE_KODU,
@KONTROL_NE_ZAMAN  =  KONTROL_NE_ZAMAN,
@KONTROL_KIM    =  KONTROL_KIM,
@KONTROL_VERSIYON  =  KONTROL_VERSIYON,
@STAMP      =  STAMP,
@KONTROL_KIM_ID  =  KONTROL_KIM_ID,
@SUBE_KOD_ID  =  SUBE_KOD_ID,
@ICRA_FOY_ID  =  ICRA_FOY_ID,
@ICRA_FOY_NO  =  ICRA_FOY_NO,
@DAVA_FOY_ID  =  DAVA_FOY_ID,
@DAVA_FOY_NO  =  DAVA_FOY_NO,
@HAZIRLIK_ID  =  HAZIRLIK_ID,
@HAZIRLIK_NO  =  HAZIRLIK_NO,
@RUCU_ID    =  RUCU_ID,
@RUCU_NO    =  RUCU_NO,
@SOZLESME_ID  =  SOZLESME_ID,
@MASRAF_AVANS_TIP = MASRAF_AVANS_TIP
FROM AV001_TDI_BIL_MASRAF_AVANS WHERE ID = @MASRAF_AVANS_ID

SELECT @ONCEKI_HESAP_ID = HESAP.ID FROM AV001_TDI_BIL_CARI_HESAP AS HESAP WHERE HESAP.MASRAF_AVANS_ID = @MASRAF_AVANS_ID AND HESAP.CARI_ID = @CARI_ID

IF @ONCEKI_HESAP_ID > 0
BEGIN
    UPDATE  AV001_TDI_BIL_CARI_HESAP SET

	MASRAF_AVANS_ID = @MASRAF_AVANS_ID,
	CARI_ID = @CARI_ID,
	REFERANS_NO = @REFERANS_NO,
	ACIKLAMA=@ACIKLAMA,
	KAYIT_TARIHI = @KAYIT_TARIHI,
	KLASOR_KODU = @KLASOR_KODU,
	SUBE_KODU = @SUBE_KODU,
	KONTROL_NE_ZAMAN = @KONTROL_NE_ZAMAN,
	KONTROL_KIM = @KONTROL_KIM,
	KONTROL_VERSIYON = @KONTROL_VERSIYON,
	STAMP = @STAMP,
	KONTROL_KIM_ID = @KONTROL_KIM_ID,
	SUBE_KOD_ID = @SUBE_KOD_ID

    WHERE ID = @ONCEKI_HESAP_ID
    SELECT @CARI_HESAP_ID = @ONCEKI_HESAP_ID
END
ELSE
BEGIN
    INSERT INTO AV001_TDI_BIL_CARI_HESAP
	(
        MASRAF_AVANS_ID,
        CARI_ID,
        REFERANS_NO,
        ACIKLAMA,
        KAYIT_TARIHI,
        KLASOR_KODU,
        SUBE_KODU,
        KONTROL_NE_ZAMAN,
        KONTROL_KIM,
        KONTROL_VERSIYON,
        STAMP,
        KONTROL_KIM_ID,
        SUBE_KOD_ID
	)
    VALUES
	(
        @MASRAF_AVANS_ID,
        @CARI_ID,
        @REFERANS_NO,
        @ACIKLAMA,
        @KAYIT_TARIHI,
        @KLASOR_KODU,
        @SUBE_KODU,
        @KONTROL_NE_ZAMAN,
        @KONTROL_KIM,
        @KONTROL_VERSIYON,
        @STAMP,
        @KONTROL_KIM_ID,
        @SUBE_KOD_ID
	)

    SELECT @CARI_HESAP_ID = SCOPE_IDENTITY()
END
DECLARE mDetay_cursor CURSOR FAST_FORWARD FOR
(

	SELECT

	ID,
	BORC_ALACAK_ID  ,
	ODEME_TIP_ID  ,
	TARIH  ,
	KULLANICI_BELGE_NO  ,
	HAREKET_ANA_KATEGORI_ID  ,
	HAREKET_ALT_KATEGORI_ID  ,
	ADET  ,
	BIRIM_FIYAT_DOVIZ_ID  ,
	BIRIM_FIYAT_DOVIZ  ,
	BIRIM_FIYAT_DOVIZ_KUR  ,
	BIRIM_FIYAT  ,
	GENEL_TOPLAM  ,
	ACIKLAMA  ,
	KAYIT_TARIHI  ,
	KLASOR_KODU  ,
	SUBE_KODU  ,
	KONTROL_NE_ZAMAN  ,
	KONTROL_KIM  ,
	KONTROL_VERSIYON  ,
	STAMP  ,
	INCELENDI  ,
	ONAY_TARIHI  ,
	ONAY_NO  ,
	ONAY_DURUM  ,
	KONTROL_KIM_ID  ,
	SUBE_KOD_ID  ,
	MUVEKKIL_CARI_ID

	FROM AV001_TDI_BIL_MASRAF_AVANS_DETAY AS DETAY WHERE DETAY.MASRAF_AVANS_ID = @MASRAF_AVANS_ID
)

OPEN mDetay_cursor


FETCH NEXT FROM mDetay_cursor INTO
@MASRAF_AVANS_DETAY_ID,
@BORC_ALACAK_ID  ,
@ODEME_TIP_ID  ,
@TARIH  ,
@KULLANICI_BELGE_NO  ,
@HAREKET_ANA_KATEGORI_ID  ,
@HAREKET_ALT_KATEGORI_ID  ,
@ADET  ,
@BIRIM_FIYAT_DOVIZ_ID  ,
@BIRIM_FIYAT_DOVIZ  ,
@BIRIM_FIYAT_DOVIZ_KUR  ,
@BIRIM_FIYAT  ,
@GENEL_TOPLAM  ,
@DETAY_ACIKLAMA  ,
@DETAY_KAYIT_TARIHI  ,
@DETAY_KLASOR_KODU  ,
@DETAY_SUBE_KODU  ,
@DETAY_KONTROL_NE_ZAMAN  ,
@DETAY_KONTROL_KIM  ,
@DETAY_KONTROL_VERSIYON  ,
@DETAY_STAMP  ,
@INCELENDI  ,
@ONAY_TARIHI  ,
@ONAY_NO  ,
@ONAY_DURUM  ,
@DETAY_KONTROL_KIM_ID  ,
@DETAY_SUBE_KOD_ID ,
@MUVEKKIL_CARI_ID

WHILE @@FETCH_STATUS = 0
BEGIN
    SET @BORC_ALACAK_ID = @MASRAF_AVANS_TIP
    SET @TAMPON_BORC = @BIRIM_FIYAT
    IF @HAREKET_ALT_KATEGORI_ID = 41
    BEGIN
		IF @MASRAF_AVANS_TIP = 1
		BEGIN
		    SET @BORC_ALACAK_ID = 2
		END
		ELSE
		BEGIN
		    SET @BORC_ALACAK_ID = 1
		END    
	END	
    
    IF @BORC_ALACAK_ID = 1
	BEGIN
        IF @BIRIM_FIYAT < 0
		BEGIN
            SET @TAMPON_BORC = @BIRIM_FIYAT * -1
		END
	END
    ELSE IF @BORC_ALACAK_ID = 2
	BEGIN
        IF @BIRIM_FIYAT > 0
		BEGIN
            SET @TAMPON_BORC = @BIRIM_FIYAT   * -1
		END
	END

	/*======= AV001_TDI_BIL_CARI_HESAP_DETAY tablosunda HESAP kaydı varsa UPDATE yoksa INSERT ediliyor =========*/
    IF (SELECT COUNT(ID)
		FROM AV001_TDI_BIL_CARI_HESAP_DETAY
	WHERE CARI_HESAP_ID = @CARI_HESAP_ID AND MASRAF_AVANS_DETAY_ID = @MASRAF_AVANS_DETAY_ID) > 0
	BEGIN
        UPDATE AV001_TDI_BIL_CARI_HESAP_DETAY
        SET
		CARI_HESAP_ID = @CARI_HESAP_ID ,
		DOSYA_MUH_AKTARILDI = 1 ,
		BORC_ALACAK_ID = @BORC_ALACAK_ID ,
		ODEME_TIP_ID = @ODEME_TIP_ID ,
		CARI_HESAP_HEDEF_TIP  = 1 ,
		ICRA_FOY_ID = @ICRA_FOY_ID ,
		ICRA_FOY_NO = @ICRA_FOY_NO ,
		DAVA_FOY_ID = @DAVA_FOY_ID ,
		DAVA_FOY_NO = @DAVA_FOY_NO ,
		HAZIRLIK_ID = @HAZIRLIK_ID ,
		HAZIRLIK_NO = @HAZIRLIK_NO ,
		RUCU_ID = @RUCU_ID ,
		RUCU_NO = @RUCU_NO ,
		TARIH = @TARIH ,
		KULLANICI_BELGE_NO = @KULLANICI_BELGE_NO ,
		HAREKET_ANA_KATEGORI_ID = @HAREKET_ANA_KATEGORI_ID ,
		HAREKET_ALT_KAREGORI_ID = @HAREKET_ALT_KATEGORI_ID ,
		ADET = @ADET ,
		BIRIM_FIYAT_DOVIZ_ID = @BIRIM_FIYAT_DOVIZ_ID ,
		BIRIM_FIYAT_DOVIZ = @BIRIM_FIYAT_DOVIZ ,
		BIRIM_FIYAT_DOVIZ_KUR = @BIRIM_FIYAT_DOVIZ_KUR ,
		BIRIM_FIYAT = @TAMPON_BORC  ,
		GENEL_TOPLAM  =@TAMPON_BORC  ,-- @TAMPON_BORC * @ADET  ,
		ACIKLAMA  = @DETAY_ACIKLAMA ,
		KAYIT_TARIHI  = @DETAY_KAYIT_TARIHI ,
		KLASOR_KODU = @DETAY_KLASOR_KODU ,
		SUBE_KODU = @DETAY_SUBE_KODU ,
		KONTROL_NE_ZAMAN  = @DETAY_KONTROL_NE_ZAMAN ,
		KONTROL_KIM = @DETAY_KONTROL_KIM ,
		KONTROL_VERSIYON  = @DETAY_KONTROL_VERSIYON ,
		STAMP = @DETAY_STAMP ,
		INCELENDI = @INCELENDI ,
		ONAY_TARIHI = @ONAY_TARIHI ,
		ONAY_NO = @ONAY_NO ,
		ONAY_DURUM = @ONAY_DURUM ,
		SOZLESME_ID = @SOZLESME_ID ,
		KONTROL_KIM_ID = @DETAY_KONTROL_KIM_ID ,
		SUBE_KOD_ID = @DETAY_SUBE_KOD_ID  ,
		MASRAF_AVANS_DETAY_ID = @MASRAF_AVANS_DETAY_ID
        WHERE CARI_HESAP_ID = @CARI_HESAP_ID AND MASRAF_AVANS_DETAY_ID = @MASRAF_AVANS_DETAY_ID
	END
    ELSE
	BEGIN
        INSERT INTO AV001_TDI_BIL_CARI_HESAP_DETAY
        (
			CARI_HESAP_ID  ,
			DOSYA_MUH_AKTARILDI  ,
			BORC_ALACAK_ID  ,
			ODEME_TIP_ID  ,
			CARI_HESAP_HEDEF_TIP  ,
			ICRA_FOY_ID  ,
			ICRA_FOY_NO  ,
			DAVA_FOY_ID  ,
			DAVA_FOY_NO  ,
			HAZIRLIK_ID  ,
			HAZIRLIK_NO  ,
			RUCU_ID  ,
			RUCU_NO  ,
			TARIH  ,
			KULLANICI_BELGE_NO  ,
			HAREKET_ANA_KATEGORI_ID  ,
			HAREKET_ALT_KAREGORI_ID  ,
			ADET  ,
			BIRIM_FIYAT_DOVIZ_ID  ,
			BIRIM_FIYAT_DOVIZ  ,
			BIRIM_FIYAT_DOVIZ_KUR  ,
			BIRIM_FIYAT  ,
			GENEL_TOPLAM  ,
			ACIKLAMA  ,
			KAYIT_TARIHI  ,
			KLASOR_KODU  ,
			SUBE_KODU  ,
			KONTROL_NE_ZAMAN  ,
			KONTROL_KIM  ,
			KONTROL_VERSIYON  ,
			STAMP  ,
			INCELENDI  ,
			ONAY_TARIHI  ,
			ONAY_NO  ,
			ONAY_DURUM  ,
			SOZLESME_ID  ,
			KONTROL_KIM_ID  ,
			SUBE_KOD_ID   ,
			MASRAF_AVANS_DETAY_ID
        )
        VALUES
        (
			@CARI_HESAP_ID  ,
			1  ,
			@BORC_ALACAK_ID  ,
			@ODEME_TIP_ID  ,
			1  ,
			@ICRA_FOY_ID  ,
			@ICRA_FOY_NO  ,
			@DAVA_FOY_ID  ,
			@DAVA_FOY_NO  ,
			@HAZIRLIK_ID  ,
			@HAZIRLIK_NO  ,
			@RUCU_ID  ,
			@RUCU_NO  ,
			@TARIH  ,
			@KULLANICI_BELGE_NO  ,
			@HAREKET_ANA_KATEGORI_ID  ,
			@HAREKET_ALT_KATEGORI_ID  ,
			@ADET  ,
			@BIRIM_FIYAT_DOVIZ_ID  ,
			@BIRIM_FIYAT_DOVIZ  ,
			@BIRIM_FIYAT_DOVIZ_KUR  ,
			@TAMPON_BORC  ,
			@TAMPON_BORC ,--@TAMPON_BORC * @ADET  ,  --GENEL TOPLAM
			@DETAY_ACIKLAMA  ,
			@DETAY_KAYIT_TARIHI  ,
			@DETAY_KLASOR_KODU  ,
			@DETAY_SUBE_KODU  ,
			@DETAY_KONTROL_NE_ZAMAN  ,
			@DETAY_KONTROL_KIM  ,
			@DETAY_KONTROL_VERSIYON  ,
			@DETAY_STAMP  ,
			@INCELENDI  ,
			@ONAY_TARIHI  ,
			@ONAY_NO  ,
			@ONAY_DURUM  ,
			@SOZLESME_ID  ,
			@DETAY_KONTROL_KIM_ID  ,
			@DETAY_SUBE_KOD_ID  ,
			@MASRAF_AVANS_DETAY_ID
		)
	END
	/*======= AV001_TDI_BIL_CARI_HESAP_DETAY tablosunda HESAP kaydı varsa UPDATE yoksa INSERT ediliyor SONU =========*/

	/*=============== MUVEKKIL_CARI_ID'ye göre INSERT veya UPDATE işlemi yapılıyor ==========================*/
    IF @MUVEKKIL_CARI_ID IS NOT NULL
    BEGIN

		SELECT @ONCEKI_HESAP_ID = HESAP.ID FROM AV001_TDI_BIL_CARI_HESAP AS HESAP WHERE HESAP.MASRAF_AVANS_ID = @MASRAF_AVANS_ID AND HESAP.CARI_ID = @MUVEKKIL_CARI_ID

		IF @ONCEKI_HESAP_ID > 0
		BEGIN
			SET  @M_CARI_HESAP_ID = @ONCEKI_HESAP_ID

			UPDATE  AV001_TDI_BIL_CARI_HESAP SET

			MASRAF_AVANS_ID = @MASRAF_AVANS_ID,
			CARI_ID = @MUVEKKIL_CARI_ID,
			REFERANS_NO = @REFERANS_NO,
			ACIKLAMA=@ACIKLAMA,
			KAYIT_TARIHI = @KAYIT_TARIHI,
			KLASOR_KODU = @KLASOR_KODU,
			SUBE_KODU = @SUBE_KODU,
			KONTROL_NE_ZAMAN = @KONTROL_NE_ZAMAN,
			KONTROL_KIM = @KONTROL_KIM,
			KONTROL_VERSIYON = @KONTROL_VERSIYON,
			STAMP = @STAMP,
			KONTROL_KIM_ID = @KONTROL_KIM_ID,
			SUBE_KOD_ID = @SUBE_KOD_ID

			WHERE ID = @ONCEKI_HESAP_ID

		END
		ELSE
		BEGIN
		    INSERT INTO AV001_TDI_BIL_CARI_HESAP
		    (
				-- ID -- this column value is auto-generated,
				MASRAF_AVANS_ID,
				CARI_ID,
				REFERANS_NO,
				ACIKLAMA,
				KAYIT_TARIHI,
				KLASOR_KODU,
				SUBE_KODU,
				KONTROL_NE_ZAMAN,
				KONTROL_KIM,
				KONTROL_VERSIYON,
				STAMP,
				KONTROL_KIM_ID,
				SUBE_KOD_ID
		    )
		    VALUES
		    (
				@MASRAF_AVANS_ID,
				@MUVEKKIL_CARI_ID,
				@REFERANS_NO,
				@ACIKLAMA,
				@KAYIT_TARIHI,
				@KLASOR_KODU,
				@SUBE_KODU,
				@KONTROL_NE_ZAMAN,
				@KONTROL_KIM,
				@KONTROL_VERSIYON,
				@STAMP,
				@KONTROL_KIM_ID,
				@SUBE_KOD_ID
		    )

		    SELECT @M_CARI_HESAP_ID = SCOPE_IDENTITY()
		END
		IF @MASRAF_AVANS_TIP = 1
		BEGIN
		    SET @BORC_ALACAK_ID = 2
		END
		ELSE
		BEGIN
		    SET @BORC_ALACAK_ID = 1
		END
		
		
		IF @HAREKET_ALT_KATEGORI_ID = 41
		BEGIN
			SET @BORC_ALACAK_ID = @MASRAF_AVANS_TIP		
		END
		
		SET @TAMPON_BORC = @BIRIM_FIYAT
		IF @BORC_ALACAK_ID = 1
		BEGIN
		    IF @BIRIM_FIYAT < 0
			BEGIN
		        SET @TAMPON_BORC = @BIRIM_FIYAT * -1
			END
		END
		ELSE IF @BORC_ALACAK_ID = 2
		BEGIN
		    IF @BIRIM_FIYAT > 0
			BEGIN
		        SET @TAMPON_BORC = @BIRIM_FIYAT   * -1
			END
		END

		IF (SELECT COUNT(ID)
	        FROM AV001_TDI_BIL_CARI_HESAP_DETAY
		WHERE CARI_HESAP_ID = @M_CARI_HESAP_ID AND MASRAF_AVANS_DETAY_ID = @MASRAF_AVANS_DETAY_ID) > 0
	    BEGIN
			UPDATE AV001_TDI_BIL_CARI_HESAP_DETAY
		    SET
			CARI_HESAP_ID = @M_CARI_HESAP_ID ,
			DOSYA_MUH_AKTARILDI = 1 ,
			BORC_ALACAK_ID = @BORC_ALACAK_ID ,
			ODEME_TIP_ID = @ODEME_TIP_ID ,
			CARI_HESAP_HEDEF_TIP  = 1 ,
			ICRA_FOY_ID = @ICRA_FOY_ID ,
			ICRA_FOY_NO = @ICRA_FOY_NO ,
			DAVA_FOY_ID = @DAVA_FOY_ID ,
			DAVA_FOY_NO = @DAVA_FOY_NO ,
			HAZIRLIK_ID = @HAZIRLIK_ID ,
			HAZIRLIK_NO = @HAZIRLIK_NO ,
			RUCU_ID = @RUCU_ID ,
			RUCU_NO = @RUCU_NO ,
			TARIH = @TARIH ,
			KULLANICI_BELGE_NO = @KULLANICI_BELGE_NO ,
			HAREKET_ANA_KATEGORI_ID = @HAREKET_ANA_KATEGORI_ID ,
			HAREKET_ALT_KAREGORI_ID = @HAREKET_ALT_KATEGORI_ID ,
			ADET = @ADET ,
			BIRIM_FIYAT_DOVIZ_ID = @BIRIM_FIYAT_DOVIZ_ID ,
			BIRIM_FIYAT_DOVIZ = @BIRIM_FIYAT_DOVIZ ,
			BIRIM_FIYAT_DOVIZ_KUR = @BIRIM_FIYAT_DOVIZ_KUR ,
			BIRIM_FIYAT = @TAMPON_BORC / @MUVEKKIL_SAYISI ,
			GENEL_TOPLAM  = @TAMPON_BORC / @MUVEKKIL_SAYISI ,--@TAMPON_BORC * @ADET / @MUVEKKIL_SAYISI ,
			ACIKLAMA  = @DETAY_ACIKLAMA ,
			KAYIT_TARIHI  = @DETAY_KAYIT_TARIHI ,
			KLASOR_KODU = @DETAY_KLASOR_KODU ,
			SUBE_KODU = @DETAY_SUBE_KODU ,
			KONTROL_NE_ZAMAN  = @DETAY_KONTROL_NE_ZAMAN ,
			KONTROL_KIM = @DETAY_KONTROL_KIM ,
			KONTROL_VERSIYON  = @DETAY_KONTROL_VERSIYON ,
			STAMP = @DETAY_STAMP ,
			INCELENDI = @INCELENDI ,
			ONAY_TARIHI = @ONAY_TARIHI ,
			ONAY_NO = @ONAY_NO ,
			ONAY_DURUM = @ONAY_DURUM ,
			SOZLESME_ID = @SOZLESME_ID ,
			KONTROL_KIM_ID = @DETAY_KONTROL_KIM_ID ,
			SUBE_KOD_ID = @DETAY_SUBE_KOD_ID  ,
			MASRAF_AVANS_DETAY_ID = @MASRAF_AVANS_DETAY_ID
		    WHERE CARI_HESAP_ID = @M_CARI_HESAP_ID AND MASRAF_AVANS_DETAY_ID = @MASRAF_AVANS_DETAY_ID

	    END
		ELSE
	    BEGIN
			INSERT INTO AV001_TDI_BIL_CARI_HESAP_DETAY
			(
				CARI_HESAP_ID  ,
				DOSYA_MUH_AKTARILDI  ,
				BORC_ALACAK_ID  ,
				ODEME_TIP_ID  ,
				CARI_HESAP_HEDEF_TIP  ,
				ICRA_FOY_ID  ,
				ICRA_FOY_NO  ,
				DAVA_FOY_ID  ,
				DAVA_FOY_NO  ,
				HAZIRLIK_ID  ,
				HAZIRLIK_NO  ,
				RUCU_ID  ,
				RUCU_NO  ,
				TARIH  ,
				KULLANICI_BELGE_NO  ,
				HAREKET_ANA_KATEGORI_ID  ,
				HAREKET_ALT_KAREGORI_ID  ,
				ADET  ,
				BIRIM_FIYAT_DOVIZ_ID  ,
				BIRIM_FIYAT_DOVIZ  ,
				BIRIM_FIYAT_DOVIZ_KUR  ,
				BIRIM_FIYAT  ,
				GENEL_TOPLAM  ,
				ACIKLAMA  ,
				KAYIT_TARIHI  ,
				KLASOR_KODU  ,
				SUBE_KODU  ,
				KONTROL_NE_ZAMAN  ,
				KONTROL_KIM  ,
				KONTROL_VERSIYON  ,
				STAMP  ,
				INCELENDI  ,
				ONAY_TARIHI  ,
				ONAY_NO  ,
				ONAY_DURUM  ,
				SOZLESME_ID  ,
				KONTROL_KIM_ID  ,
				SUBE_KOD_ID    ,
				MASRAF_AVANS_DETAY_ID
			)
			VALUES
			(
				@M_CARI_HESAP_ID  ,
				1  ,
				@BORC_ALACAK_ID  ,
				@ODEME_TIP_ID  ,
				1  ,
				@ICRA_FOY_ID  ,
				@ICRA_FOY_NO  ,
				@DAVA_FOY_ID  ,
				@DAVA_FOY_NO  ,
				@HAZIRLIK_ID  ,
				@HAZIRLIK_NO  ,
				@RUCU_ID  ,
				@RUCU_NO  ,
				@TARIH  ,
				@KULLANICI_BELGE_NO  ,
				@HAREKET_ANA_KATEGORI_ID  ,
				@HAREKET_ALT_KATEGORI_ID  ,
				@ADET  ,
				@BIRIM_FIYAT_DOVIZ_ID  ,
				@BIRIM_FIYAT_DOVIZ  ,
				@BIRIM_FIYAT_DOVIZ_KUR  ,
				@TAMPON_BORC  ,
				@TAMPON_BORC * @ADET ,   --GENEL TOPLAM
				@DETAY_ACIKLAMA  ,
				@DETAY_KAYIT_TARIHI  ,
				@DETAY_KLASOR_KODU  ,
				@DETAY_SUBE_KODU  ,
				@DETAY_KONTROL_NE_ZAMAN  ,
				@DETAY_KONTROL_KIM  ,
				@DETAY_KONTROL_VERSIYON  ,
				@DETAY_STAMP  ,
				@INCELENDI  ,
				@ONAY_TARIHI  ,
				@ONAY_NO  ,
				@ONAY_DURUM  ,
				@SOZLESME_ID  ,
				@DETAY_KONTROL_KIM_ID  ,
				@DETAY_SUBE_KOD_ID ,
				@MASRAF_AVANS_DETAY_ID
			)

	    END
	END
    ELSE
	BEGIN
        IF @ICRA_FOY_ID IS NOT NULL
        BEGIN

			INSERT INTO @TARAF_TABLOSU SELECT taraf.CARI_ID FROM AV001_TI_BIL_FOY_TARAF taraf WHERE taraf.ICRA_FOY_ID = @ICRA_FOY_ID AND taraf.TARAF_KODU = 1

			SET @MUVEKKIL_SAYISI = (SELECT count(taraf.CARI_ID) FROM AV001_TI_BIL_fOY_TARAF taraf WHERE taraf.ICRA_FOY_ID = @ICRA_FOY_ID AND taraf.TARAF_KODU  = 1)

        END

        ELSE IF @DAVA_FOY_ID IS NOT NULL
        BEGIN

			INSERT INTO @TARAF_TABLOSU SELECT taraf.CARI_ID FROM AV001_TD_BIL_FOY_TARAF  taraf WHERE taraf.DAVA_FOY_ID = @DAVA_FOY_ID AND taraf.TARAF_KODU = 1

			SET @MUVEKKIL_SAYISI = (SELECT count(taraf.CARI_ID) FROM AV001_TD_BIL_FOY_TARAF  taraf WHERE taraf.DAVA_FOY_ID = @DAVA_FOY_ID AND taraf.TARAF_KODU  = 1)

        END
        ELSE IF @RUCU_ID IS NOT NULL
        BEGIN

			INSERT INTO @TARAF_TABLOSU SELECT taraf.CARI_ID FROM AV001_TDI_BIL_RUCU_TARAF  taraf WHERE taraf.RUCU_ID = @RUCU_ID AND taraf.TARAF_KODU = 1

			SET @MUVEKKIL_SAYISI = (SELECT count(taraf.CARI_ID) FROM AV001_TDI_BIL_RUCU_TARAF  taraf WHERE taraf.RUCU_ID = @RUCU_ID AND taraf.TARAF_KODU  = 1)

        END
        ELSE IF @HAZIRLIK_ID IS NOT NULL
        BEGIN

			INSERT INTO @TARAF_TABLOSU SELECT taraf.CARI_ID FROM AV001_TD_BIL_HAZIRLIK_TARAF  taraf WHERE taraf.HAZIRLIK_ID = @HAZIRLIK_ID AND taraf.TARAF_KODU = 1

			SET @MUVEKKIL_SAYISI = (SELECT count(taraf.CARI_ID) FROM AV001_TD_BIL_HAZIRLIK_TARAF  taraf WHERE taraf.HAZIRLIK_ID = @HAZIRLIK_ID AND taraf.TARAF_KODU  = 1)

        END

        DECLARE taraf_cursor CURSOR FAST_FORWARD FOR (SELECT ID FROM @TARAF_TABLOSU)

        OPEN taraf_cursor


        FETCH NEXT FROM taraf_cursor INTO  @MUVEKKIL_CARI_ID

        WHILE @@FETCH_STATUS = 0
		BEGIN
            SELECT @ONCEKI_HESAP_ID = HESAP.ID FROM AV001_TDI_BIL_CARI_HESAP AS HESAP WHERE HESAP.MASRAF_AVANS_ID = @MASRAF_AVANS_ID AND HESAP.CARI_ID = @MUVEKKIL_CARI_ID

            IF @ONCEKI_HESAP_ID > 0
			BEGIN
                SET  @M_CARI_HESAP_ID = @ONCEKI_HESAP_ID

                UPDATE  AV001_TDI_BIL_CARI_HESAP SET

				MASRAF_AVANS_ID = @MASRAF_AVANS_ID,
				CARI_ID = @MUVEKKIL_CARI_ID,
				REFERANS_NO = @REFERANS_NO,
				ACIKLAMA=@ACIKLAMA,
				KAYIT_TARIHI = @KAYIT_TARIHI,
				KLASOR_KODU = @KLASOR_KODU,
				SUBE_KODU = @SUBE_KODU,
				KONTROL_NE_ZAMAN = @KONTROL_NE_ZAMAN,
				KONTROL_KIM = @KONTROL_KIM,
				KONTROL_VERSIYON = @KONTROL_VERSIYON,
				STAMP = @STAMP,
				KONTROL_KIM_ID = @KONTROL_KIM_ID,
				SUBE_KOD_ID = @SUBE_KOD_ID

                WHERE ID = @ONCEKI_HESAP_ID

			END
            ELSE
			BEGIN

                INSERT INTO AV001_TDI_BIL_CARI_HESAP
                (
					-- ID -- this column value is auto-generated,
					MASRAF_AVANS_ID,
					CARI_ID,
					REFERANS_NO,
					ACIKLAMA,
					KAYIT_TARIHI,
					KLASOR_KODU,
					SUBE_KODU,
					KONTROL_NE_ZAMAN,
					KONTROL_KIM,
					KONTROL_VERSIYON,
					STAMP,
					KONTROL_KIM_ID,
					SUBE_KOD_ID
                )
                VALUES
                (
					@MASRAF_AVANS_ID,
					@MUVEKKIL_CARI_ID,
					@REFERANS_NO,
					@ACIKLAMA,
					@KAYIT_TARIHI,
					@KLASOR_KODU,
					@SUBE_KODU,
					@KONTROL_NE_ZAMAN,
					@KONTROL_KIM,
					@KONTROL_VERSIYON,
					@STAMP,
					@KONTROL_KIM_ID,
					@SUBE_KOD_ID
                )

                SELECT @M_CARI_HESAP_ID = SCOPE_IDENTITY()
			END

            IF @MASRAF_AVANS_TIP = 1
			BEGIN
				SET @BORC_ALACAK_ID = 2
			END
            ELSE
			BEGIN
                SET @BORC_ALACAK_ID = 1
			END
            SET @TAMPON_BORC = @BIRIM_FIYAT
            IF @BORC_ALACAK_ID = 1
			BEGIN
                IF @BIRIM_FIYAT < 0
				BEGIN
                    SET @TAMPON_BORC = @BIRIM_FIYAT * -1
				END
			END
            ELSE IF @BORC_ALACAK_ID = 2
			BEGIN
                IF @BIRIM_FIYAT > 0
				BEGIN
                    SET @TAMPON_BORC = @BIRIM_FIYAT   * -1
				END
			END

            IF (SELECT COUNT(ID)
				FROM AV001_TDI_BIL_CARI_HESAP_DETAY
			WHERE CARI_HESAP_ID = @M_CARI_HESAP_ID AND MASRAF_AVANS_DETAY_ID = @MASRAF_AVANS_DETAY_ID) > 0
			BEGIN
                UPDATE AV001_TDI_BIL_CARI_HESAP_DETAY
                SET
				CARI_HESAP_ID = @M_CARI_HESAP_ID ,
				DOSYA_MUH_AKTARILDI = 1 ,
				BORC_ALACAK_ID = @BORC_ALACAK_ID ,
				ODEME_TIP_ID = @ODEME_TIP_ID ,
				CARI_HESAP_HEDEF_TIP  = 1 ,
				ICRA_FOY_ID = @ICRA_FOY_ID ,
				ICRA_FOY_NO = @ICRA_FOY_NO ,
				DAVA_FOY_ID = @DAVA_FOY_ID ,
				DAVA_FOY_NO = @DAVA_FOY_NO ,
				HAZIRLIK_ID = @HAZIRLIK_ID ,
				HAZIRLIK_NO = @HAZIRLIK_NO ,
				RUCU_ID = @RUCU_ID ,
				RUCU_NO = @RUCU_NO ,
				TARIH = @TARIH ,
				KULLANICI_BELGE_NO = @KULLANICI_BELGE_NO ,
				HAREKET_ANA_KATEGORI_ID = @HAREKET_ANA_KATEGORI_ID ,
				HAREKET_ALT_KAREGORI_ID = @HAREKET_ALT_KATEGORI_ID ,
				ADET = @ADET ,
				BIRIM_FIYAT_DOVIZ_ID = @BIRIM_FIYAT_DOVIZ_ID ,
				BIRIM_FIYAT_DOVIZ = @BIRIM_FIYAT_DOVIZ ,
				BIRIM_FIYAT_DOVIZ_KUR = @BIRIM_FIYAT_DOVIZ_KUR ,
				BIRIM_FIYAT = @TAMPON_BORC / @MUVEKKIL_SAYISI ,
				GENEL_TOPLAM  =@TAMPON_BORC  / @MUVEKKIL_SAYISI ,-- @TAMPON_BORC * @ADET / @MUVEKKIL_SAYISI ,
				ACIKLAMA  = @DETAY_ACIKLAMA ,
				KAYIT_TARIHI  = @DETAY_KAYIT_TARIHI ,
				KLASOR_KODU = @DETAY_KLASOR_KODU ,
				SUBE_KODU = @DETAY_SUBE_KODU ,
				KONTROL_NE_ZAMAN  = @DETAY_KONTROL_NE_ZAMAN ,
				KONTROL_KIM = @DETAY_KONTROL_KIM ,
				KONTROL_VERSIYON  = @DETAY_KONTROL_VERSIYON ,
				STAMP = @DETAY_STAMP ,
				INCELENDI = @INCELENDI ,
				ONAY_TARIHI = @ONAY_TARIHI ,
				ONAY_NO = @ONAY_NO ,
				ONAY_DURUM = @ONAY_DURUM ,
				SOZLESME_ID = @SOZLESME_ID ,
				KONTROL_KIM_ID = @DETAY_KONTROL_KIM_ID ,
				SUBE_KOD_ID = @DETAY_SUBE_KOD_ID  ,
				MASRAF_AVANS_DETAY_ID = @MASRAF_AVANS_DETAY_ID
                WHERE CARI_HESAP_ID = @M_CARI_HESAP_ID AND MASRAF_AVANS_DETAY_ID = @MASRAF_AVANS_DETAY_ID

			END
            ELSE
			BEGIN
                INSERT INTO AV001_TDI_BIL_CARI_HESAP_DETAY
                (
					CARI_HESAP_ID  ,
					DOSYA_MUH_AKTARILDI  ,
					BORC_ALACAK_ID  ,
					ODEME_TIP_ID  ,
					CARI_HESAP_HEDEF_TIP ,
					ICRA_FOY_ID  ,
					ICRA_FOY_NO  ,
					DAVA_FOY_ID  ,
					DAVA_FOY_NO  ,
					HAZIRLIK_ID  ,
					HAZIRLIK_NO  ,
					RUCU_ID  ,
					RUCU_NO  ,
					TARIH  ,
					KULLANICI_BELGE_NO  ,
					HAREKET_ANA_KATEGORI_ID  ,
					HAREKET_ALT_KAREGORI_ID  ,
					ADET  ,
					BIRIM_FIYAT_DOVIZ_ID  ,
					BIRIM_FIYAT_DOVIZ  ,
					BIRIM_FIYAT_DOVIZ_KUR  ,
					BIRIM_FIYAT  ,
					GENEL_TOPLAM ,
					ACIKLAMA ,
					KAYIT_TARIHI ,
					KLASOR_KODU  ,
					SUBE_KODU  ,
					KONTROL_NE_ZAMAN ,
					KONTROL_KIM  ,
					KONTROL_VERSIYON ,
					STAMP  ,
					INCELENDI  ,
					ONAY_TARIHI  ,
					ONAY_NO  ,
					ONAY_DURUM  ,
					SOZLESME_ID  ,
					KONTROL_KIM_ID  ,
					SUBE_KOD_ID   ,
					MASRAF_AVANS_DETAY_ID
                )
                VALUES
                (
					@M_CARI_HESAP_ID  ,
					1  ,
					@BORC_ALACAK_ID  ,
					@ODEME_TIP_ID  ,
					1  ,
					@ICRA_FOY_ID  ,
					@ICRA_FOY_NO  ,
					@DAVA_FOY_ID  ,
					@DAVA_FOY_NO  ,
					@HAZIRLIK_ID  ,
					@HAZIRLIK_NO  ,
					@RUCU_ID  ,
					@RUCU_NO  ,
					@TARIH  ,
					@KULLANICI_BELGE_NO  ,
					@HAREKET_ANA_KATEGORI_ID  ,
					@HAREKET_ALT_KATEGORI_ID  ,
					@ADET  ,
					@BIRIM_FIYAT_DOVIZ_ID  ,
					@BIRIM_FIYAT_DOVIZ  ,
					@BIRIM_FIYAT_DOVIZ_KUR  ,
					@TAMPON_BORC / @MUVEKKIL_SAYISI  ,
					@TAMPON_BORC  / @MUVEKKIL_SAYISI  ,--@TAMPON_BORC * @ADET / @MUVEKKIL_SAYISI  ,
					@DETAY_ACIKLAMA  ,
					@DETAY_KAYIT_TARIHI  ,
					@DETAY_KLASOR_KODU  ,
					@DETAY_SUBE_KODU  ,
					@DETAY_KONTROL_NE_ZAMAN  ,
					@DETAY_KONTROL_KIM  ,
					@DETAY_KONTROL_VERSIYON  ,
					@DETAY_STAMP  ,
					@INCELENDI  ,
					@ONAY_TARIHI  ,
					@ONAY_NO  ,
					@ONAY_DURUM  ,
					@SOZLESME_ID  ,
					@DETAY_KONTROL_KIM_ID  ,
					@DETAY_SUBE_KOD_ID   ,
					@MASRAF_AVANS_DETAY_ID
                )
			END
       

		FETCH NEXT FROM taraf_cursor INTO  @MUVEKKIL_CARI_ID 
		END
		CLOSE taraf_cursor
		DEALLOCATE taraf_cursor
	END
	/*=============== MUVEKKIL_CARI_ID'ye göre INSERT veya UPDATE işlemi yapılıyor SONU ==========================*/


FETCH NEXT FROM mDetay_cursor INTO
@MASRAF_AVANS_DETAY_ID ,
@BORC_ALACAK_ID  ,
@ODEME_TIP_ID  ,
@TARIH  ,
@KULLANICI_BELGE_NO  ,
@HAREKET_ANA_KATEGORI_ID  ,
@HAREKET_ALT_KATEGORI_ID  ,
@ADET  ,
@BIRIM_FIYAT_DOVIZ_ID  ,
@BIRIM_FIYAT_DOVIZ  ,
@BIRIM_FIYAT_DOVIZ_KUR  ,
@BIRIM_FIYAT  ,
@GENEL_TOPLAM  ,
@DETAY_ACIKLAMA  ,
@DETAY_KAYIT_TARIHI  ,
@DETAY_KLASOR_KODU  ,
@DETAY_SUBE_KODU  ,
@DETAY_KONTROL_NE_ZAMAN  ,
@DETAY_KONTROL_KIM  ,
@DETAY_KONTROL_VERSIYON  ,
@DETAY_STAMP  ,
@INCELENDI  ,
@ONAY_TARIHI  ,
@ONAY_NO  ,
@ONAY_DURUM  ,
@DETAY_KONTROL_KIM_ID  ,
@DETAY_SUBE_KOD_ID,
@MUVEKKIL_CARI_ID
END

CLOSE mDetay_cursor
DEALLOCATE mDetay_cursor