CREATE PROC [dbo].[_TUM_DOSYALAR_BulCariId_V3]
(
	@CARI_ID INT,
	@SUBE_KOD_ID INT
)
AS
IF (@SUBE_KOD_ID != 2)
BEGIN
	SELECT DISTINCT
		I_FOY.ID, 
		I_FOY.FOY_NO, 
		I_FOY.ESAS_NO,
		I_FOY.ADLI_BIRIM_ADLIYE_ID,
		I_FOY.ADLI_BIRIM_NO_ID,
		I_FOY.ADLI_BIRIM_GOREV_ID,
		I_FOY.TAKIP_TARIHI,
		'İCRA' AS TIPI 
	FROM AV001_TI_BIL_FOY AS I_FOY 
		LEFT JOIN AV001_TI_BIL_FOY_TARAF AS I_TARAF ON I_FOY.ID = I_TARAF.ICRA_FOY_ID 
		LEFT JOIN AV001_TI_BIL_FOY_SORUMLU_AVUKAT AS I_SORUMLU ON  I_FOY.ID = I_SORUMLU.ICRA_FOY_ID
	WHERE (I_TARAF.CARI_ID = @CARI_ID OR I_SORUMLU.SORUMLU_AVUKAT_CARI_ID = @CARI_ID) AND I_FOY.SUBE_KOD_ID=@SUBE_KOD_ID
	 
	 UNION
	SELECT DISTINCT 
		D_FOY.ID,
		D_FOY.FOY_NO,
		D_FOY.ESAS_NO,
		D_FOY.ADLI_BIRIM_ADLIYE_ID,
		D_FOY.ADLI_BIRIM_NO_ID,
		D_FOY.ADLI_BIRIM_GOREV_ID,
		D_FOY.DAVA_TARIHI,
		'DAVA' AS TIPI 
	FROM AV001_TD_BIL_FOY AS D_FOY
		LEFT JOIN AV001_TD_BIL_FOY_TARAF AS D_TARAF ON D_FOY.ID = D_TARAF.DAVA_FOY_ID
		LEFT JOIN AV001_TD_BIL_FOY_SORUMLU_AVUKAT AS D_SORUMLU ON D_FOY.ID = D_SORUMLU.DAVA_FOY_ID
	WHERE (D_TARAF.CARI_ID = @CARI_ID OR D_SORUMLU.SORUMLU_AVUKAT_CARI_ID = @CARI_ID) AND D_FOY.SUBE_KOD_ID=@SUBE_KOD_ID
	UNION
	SELECT DISTINCT
		H_FOY.ID,
		H_FOY.HAZIRLIK_NO,
		H_FOY.HAZIRLIK_ESAS_NO,
		H_FOY.ADLI_BIRIM_ADLIYE_ID,
		H_FOY.ADLI_BIRIM_NO_ID,
		H_FOY.ADLI_BIRIM_GOREV_ID,
		H_FOY.HAZIRLIK_TARIH ,
		'SORUŞTURMA' AS TIPI
	FROM AV001_TD_BIL_HAZIRLIK AS H_FOY
		LEFT JOIN AV001_TD_BIL_HAZIRLIK_TARAF AS H_TARAF ON H_FOY.ID = H_TARAF.HAZIRLIK_ID
		LEFT JOIN AV001_TD_BIL_HAZIRLIK_SORUMLU H_SORUMLU ON H_FOY.ID = H_SORUMLU.HAZIRLIK_ID
	WHERE (H_TARAF.CARI_ID = @CARI_ID OR H_SORUMLU.CARI_ID = @CARI_ID) AND H_FOY.SUBE_KOD_ID=@SUBE_KOD_ID
	UNION 
	SELECT DISTINCT
		S_FOY.ID, 
		S_FOY.SOZLESME_NO, 
		S_FOY.NOTER_YEVMIYE_NO,
		S_FOY.ADLI_BIRIM_ADLIYE_ID,
		S_FOY.ADLI_BIRIM_NO_ID,
		S_FOY.ADLI_BIRIM_GOREV_ID,
		S_FOY.IMZA_TARIHI,
		'SÖZLEŞME' AS TIPI
	FROM AV001_TDI_BIL_SOZLESME  AS S_FOY 
		LEFT JOIN AV001_TDI_BIL_SOZLESME_TARAF AS S_TARAF ON S_FOY.ID = S_TARAF.SOZLESME_ID
		LEFT JOIN AV001_TDI_BIL_SOZLESME_SORUMLU AS S_SORUMLU ON S_FOY.ID = S_SORUMLU.SOZLESME_ID
	WHERE (S_TARAF.CARI_ID = @CARI_ID OR S_SORUMLU.SORUMLU_CARI_ID= @CARI_ID) AND S_FOY.SUBE_KOD_ID=@SUBE_KOD_ID
	UNION
	SELECT DISTINCT
		T_FOY.ID,
		T_FOY.TEBLIGAT_REFERANS_NO,
		T_FOY.TEBLIGAT_ESAS_NO,
		T_FOY.ADLI_BIRIM_ADLIYE_ID,
		T_FOY.ADLI_BIRIM_NO_ID,
		T_FOY.ADLI_BIRIM_GOREV_ID,
		T_FOY.HAZIRLAMA_TARIH ,
		'TEBLİGAT' AS TIPI
	FROM AV001_TDI_BIL_TEBLIGAT AS T_FOY
		LEFT JOIN AV001_TDI_BIL_TEBLIGAT_MUHATAP AS T_MUHATAP ON T_FOY.ID = T_MUHATAP.TEBLIGAT_ID
		LEFT JOIN AV001_TDI_BIL_TEBLIGAT_YAPAN AS T_YAPAN ON T_FOY.ID = T_YAPAN.TEBLIGAT_ID
	WHERE (T_MUHATAP.ALAN_CARI_ID = @CARI_ID OR T_YAPAN.YAPAN_CARI_ID = @CARI_ID) AND T_FOY.SUBE_KOD_ID=@SUBE_KOD_ID
	UNION
	SELECT DISTINCT
		B_FOY.ID,
		B_FOY.BELGE_NO,
		B_FOY.ESAS_NO,
		B_FOY.ADLI_BIRIM_ADLIYE_ID,
		B_FOY.ADLI_BIRIM_NO_ID,
		B_FOY.ADLI_BIRIM_GOREV_ID,
		B_FOY.YAZILMA_TARIHI ,
		'BELGE' AS TIPI
	FROM AV001_TDIE_BIL_BELGE AS B_FOY
		LEFT JOIN AV001_TDIE_BIL_BELGE_TARAF AS B_TARAF ON B_FOY.ID = B_TARAF.BELGE_ID
		LEFT JOIN AV001_TDIE_BIL_BELGE_SORUMLU AS B_SORUMLU ON B_FOY.ID = B_SORUMLU.BELGE_ID
	WHERE (B_TARAF.CARI_ID = @CARI_ID OR B_SORUMLU.CARI_ID = @CARI_ID) AND B_FOY.SUBE_KOD_ID=@SUBE_KOD_ID
	UNION
	SELECT DISTINCT
		P_FOY.ID,
		P_FOY.KOD AS FOY_NO,
		NULL AS ESAS_NO,
		NULL AS ADLIYE,
		NULL AS BIRIM,
		NULL AS GOREV,
		P_FOY.BASLANGIC_TARIHI ,
		'KLASÖR' AS TIPI
	FROM AV001_TDIE_BIL_PROJE AS P_FOY
		LEFT JOIN AV001_TDIE_BIL_PROJE_TARAF AS P_TARAF ON P_FOY.ID = P_TARAF.PROJE_ID
		LEFT JOIN AV001_TDIE_BIL_PROJE_SORUMLU AS P_SORUMLU ON P_FOY.ID = P_SORUMLU.PROJE_ID
	WHERE (P_TARAF.CARI_ID = @CARI_ID OR P_SORUMLU.CARI_ID = @CARI_ID) AND P_FOY.SUBE_KOD_ID=@SUBE_KOD_ID
END
ELSE
BEGIN
	SELECT DISTINCT
		I_FOY.ID, 
		I_FOY.FOY_NO, 
		I_FOY.ESAS_NO,
		I_FOY.ADLI_BIRIM_ADLIYE_ID,
		I_FOY.ADLI_BIRIM_NO_ID,
		I_FOY.ADLI_BIRIM_GOREV_ID,
		I_FOY.TAKIP_TARIHI,
		'İCRA' AS TIPI 
	FROM AV001_TI_BIL_FOY AS I_FOY 
		LEFT JOIN AV001_TI_BIL_FOY_TARAF AS I_TARAF ON I_FOY.ID = I_TARAF.ICRA_FOY_ID 
		LEFT JOIN AV001_TI_BIL_FOY_SORUMLU_AVUKAT AS I_SORUMLU ON  I_FOY.ID = I_SORUMLU.ICRA_FOY_ID
	WHERE (I_TARAF.CARI_ID = @CARI_ID OR I_SORUMLU.SORUMLU_AVUKAT_CARI_ID = @CARI_ID)
	 
	 UNION
	SELECT DISTINCT 
		D_FOY.ID,
		D_FOY.FOY_NO,
		D_FOY.ESAS_NO,
		D_FOY.ADLI_BIRIM_ADLIYE_ID,
		D_FOY.ADLI_BIRIM_NO_ID,
		D_FOY.ADLI_BIRIM_GOREV_ID,
		D_FOY.DAVA_TARIHI,
		'DAVA' AS TIPI 
	FROM AV001_TD_BIL_FOY AS D_FOY
		LEFT JOIN AV001_TD_BIL_FOY_TARAF AS D_TARAF ON D_FOY.ID = D_TARAF.DAVA_FOY_ID
		LEFT JOIN AV001_TD_BIL_FOY_SORUMLU_AVUKAT AS D_SORUMLU ON D_FOY.ID = D_SORUMLU.DAVA_FOY_ID
	WHERE (D_TARAF.CARI_ID = @CARI_ID OR D_SORUMLU.SORUMLU_AVUKAT_CARI_ID = @CARI_ID)
	UNION
	SELECT DISTINCT
		H_FOY.ID,
		H_FOY.HAZIRLIK_NO,
		H_FOY.HAZIRLIK_ESAS_NO,
		H_FOY.ADLI_BIRIM_ADLIYE_ID,
		H_FOY.ADLI_BIRIM_NO_ID,
		H_FOY.ADLI_BIRIM_GOREV_ID,
		H_FOY.HAZIRLIK_TARIH ,
		'SORUŞTURMA' AS TIPI
	FROM AV001_TD_BIL_HAZIRLIK AS H_FOY
		LEFT JOIN AV001_TD_BIL_HAZIRLIK_TARAF AS H_TARAF ON H_FOY.ID = H_TARAF.HAZIRLIK_ID
		LEFT JOIN AV001_TD_BIL_HAZIRLIK_SORUMLU H_SORUMLU ON H_FOY.ID = H_SORUMLU.HAZIRLIK_ID
	WHERE (H_TARAF.CARI_ID = @CARI_ID OR H_SORUMLU.CARI_ID = @CARI_ID)
	UNION 
	SELECT DISTINCT
		S_FOY.ID, 
		S_FOY.SOZLESME_NO, 
		S_FOY.NOTER_YEVMIYE_NO,
		S_FOY.ADLI_BIRIM_ADLIYE_ID,
		S_FOY.ADLI_BIRIM_NO_ID,
		S_FOY.ADLI_BIRIM_GOREV_ID,
		S_FOY.IMZA_TARIHI,
		'SÖZLEŞME' AS TIPI
	FROM AV001_TDI_BIL_SOZLESME  AS S_FOY 
		LEFT JOIN AV001_TDI_BIL_SOZLESME_TARAF AS S_TARAF ON S_FOY.ID = S_TARAF.SOZLESME_ID
		LEFT JOIN AV001_TDI_BIL_SOZLESME_SORUMLU AS S_SORUMLU ON S_FOY.ID = S_SORUMLU.SOZLESME_ID
	WHERE (S_TARAF.CARI_ID = @CARI_ID OR S_SORUMLU.SORUMLU_CARI_ID= @CARI_ID)
	UNION
	SELECT DISTINCT
		T_FOY.ID,
		T_FOY.TEBLIGAT_REFERANS_NO,
		T_FOY.TEBLIGAT_ESAS_NO,
		T_FOY.ADLI_BIRIM_ADLIYE_ID,
		T_FOY.ADLI_BIRIM_NO_ID,
		T_FOY.ADLI_BIRIM_GOREV_ID,
		T_FOY.HAZIRLAMA_TARIH ,
		'TEBLİGAT' AS TIPI
	FROM AV001_TDI_BIL_TEBLIGAT AS T_FOY
		LEFT JOIN AV001_TDI_BIL_TEBLIGAT_MUHATAP AS T_MUHATAP ON T_FOY.ID = T_MUHATAP.TEBLIGAT_ID
		LEFT JOIN AV001_TDI_BIL_TEBLIGAT_YAPAN AS T_YAPAN ON T_FOY.ID = T_YAPAN.TEBLIGAT_ID
	WHERE (T_MUHATAP.ALAN_CARI_ID = @CARI_ID OR T_YAPAN.YAPAN_CARI_ID = @CARI_ID)
	UNION
	SELECT DISTINCT
		B_FOY.ID,
		B_FOY.BELGE_NO,
		B_FOY.ESAS_NO,
		B_FOY.ADLI_BIRIM_ADLIYE_ID,
		B_FOY.ADLI_BIRIM_NO_ID,
		B_FOY.ADLI_BIRIM_GOREV_ID,
		B_FOY.YAZILMA_TARIHI ,
		'BELGE' AS TIPI
	FROM AV001_TDIE_BIL_BELGE AS B_FOY
		LEFT JOIN AV001_TDIE_BIL_BELGE_TARAF AS B_TARAF ON B_FOY.ID = B_TARAF.BELGE_ID
		LEFT JOIN AV001_TDIE_BIL_BELGE_SORUMLU AS B_SORUMLU ON B_FOY.ID = B_SORUMLU.BELGE_ID
	WHERE (B_TARAF.CARI_ID = @CARI_ID OR B_SORUMLU.CARI_ID = @CARI_ID)
	UNION
	SELECT DISTINCT
		P_FOY.ID,
		P_FOY.KOD AS FOY_NO,
		NULL AS ESAS_NO,
		NULL AS ADLIYE,
		NULL AS BIRIM,
		NULL AS GOREV,
		P_FOY.BASLANGIC_TARIHI ,
		'KLASÖR' AS TIPI
	FROM AV001_TDIE_BIL_PROJE AS P_FOY
		LEFT JOIN AV001_TDIE_BIL_PROJE_TARAF AS P_TARAF ON P_FOY.ID = P_TARAF.PROJE_ID
		LEFT JOIN AV001_TDIE_BIL_PROJE_SORUMLU AS P_SORUMLU ON P_FOY.ID = P_SORUMLU.PROJE_ID
	WHERE (P_TARAF.CARI_ID = @CARI_ID OR P_SORUMLU.CARI_ID = @CARI_ID)
END
