<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="netTiersService" type="AvukatProLib2.Data.Bases.NetTiersServiceSection, AvukatProLib2.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="netTiersService1" type="MevzuatKararLib.Data.Bases.NetTiersServiceSection, MevzuatKararLib.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="sqlServerCatalogNameOverwrites" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AdimAdimDavaKaydi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AdimAdimDavaKaydi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AVP_NMK" connectionString="" providerName="" />
    <add name="CS" connectionString="" providerName="System.Data.SqlClient" />
    <add name="CS2" connectionString="" providerName="System.Data.SqlClient" />
    <add name="netTiersConnectionString" connectionString="" providerName="" />
  </connectionStrings>
  <appSettings>
    <add key="ErrorLogDir" value="C:\AVP_ERR" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DosyaIsimleri" value="tx14.dll,tx14_css.dll,tx14_doc.dll,tx14_dox.dll,tx14_htm.dll,tx14_ic.dll,tx14_pdf.dll,tx14_rtf.dll,tx14_tls.dll,tx14_wnd.dll,tx14_xml.dll,TXDocumentServer.dll,TXTextControl.dll" />
    <!--LLBLGEN-ConnectionString-->
    <add key="ConnectionString.SQL Server (SqlClient)" value="data source=;initial catalog=;User ID=;Password=;persist security info=False;packet size=4096" />
  </appSettings>
  <!--LLBLGEN-Catalog Name Overwrite-->
  <sqlServerCatalogNameOverwrites>
    <add key="BOS" value="" />
  </sqlServerCatalogNameOverwrites>
  <netTiersService defaultProvider="SqlNetTiersProvider">
    <providers>
      <add name="SqlNetTiersProvider" type="AvukatProLib2.Data.SqlClient.SqlNetTiersProvider, AvukatProLib2.Data.SqlClient" connectionStringName="netTiersConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="AvukatProLib2.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="true" />
    </providers>
  </netTiersService>
  <netTiersService1 defaultProvider="SqlNetTiersProvider">
    <providers>
      <add name="SqlNetTiersProvider1" type="MevzuatKararLib.Data.SqlClient.SqlNetTiersProvider, MevzuatKararLib.Data.SqlClient" connectionStringName="AVP_NMK" providerInvariantName="System.Data.SqlClient" entityFactoryType="MevzuatKararLib.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="false" />
    </providers>
  </netTiersService1>
  <applicationSettings>
    <AdimAdimDavaKaydi.Properties.Settings>
      <setting name="AdimAdimDavaKaydi_DovizAPI_AVP_NG_DOVIZ_SOAP_API_NENC"
        serializeAs="String">
        <value>http://192.9.0.145/AVPNG/AVP_NG_DOVIZ_SOAP_API_NENC.asmx</value>
      </setting>
      <setting name="avpng_ErrorHandlerSOAPAPI_ERRORHANDLER_SOAP_API_NENC"
        serializeAs="String">
        <value>http://localhost/Update/ERRORHANDLER_SOAP_API_NENC.asmx</value>
      </setting>
      <setting name="avpng_tr_gov_ptt_pttws_SorguService" serializeAs="String">
        <value>http://pttws.ptt.gov.tr/GonderiTakipV2/services/Sorgu.SorguHttpSoap11Endpoint/</value>
      </setting>
    </AdimAdimDavaKaydi.Properties.Settings>
  </applicationSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.avukatpro.com" userName="avukatpro@avukatpro.com" password="sokakav" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AvukatProLib2.Data" publicKeyToken="6469E8533647E89D" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.152.20705" newVersion="3.2.152.20705" />
      </dependentAssembly>-->
      <!--<dependentAssembly>
        <assemblyIdentity name="AvukatProLib2.Entities" publicKeyToken="6469E8533647E89D" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.209.33090" newVersion="3.2.209.33090" />
      </dependentAssembly>-->
      <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Outlook" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>-->
    	<!--<dependentAssembly>
				<assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>-->
			<!--<dependentAssembly>
				<assemblyIdentity name="Microsoft.Office.Interop.Word" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>-->
			<!--<dependentAssembly>
				<assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>

    <httpModules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpModules>
  </system.web>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" keepFileOpen="false" layout="${longdate} ${message} ${newline} ${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}" fileName="${basedir}/log/${shortdate}.log" />
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>

  <system.webServer>
    <modules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </modules>
  </system.webServer>
  <userSettings>
    <AdimAdimDavaKaydi.Properties.Settings>
      <setting name="TebligatBarkodAraligiBaslangic1" serializeAs="String">
        <value />
      </setting>
      <setting name="TebligatBarkodAdet1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TebligatBarkodAraligiBaslangic2" serializeAs="String">
        <value />
      </setting>
      <setting name="TebligatBarkodAdet2" serializeAs="String">
        <value>0</value>
      </setting>
    </AdimAdimDavaKaydi.Properties.Settings>
  </userSettings>
</configuration>