<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AvukatProRaporlar.Raport.Util.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <!--<add name="AvukatProRaporlar.Properties.Settings.AVP_NHA_NGConnectionString"
      connectionString="Data Source=.;Initial Catalog=AVP_NHA_NG;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="AvukatProRaporlar.Properties.Settings.AVP_NHA_NGConnectionString1"
      connectionString="Data Source=.;Initial Catalog=AVP_NHA_NG;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AvukatProRaporlar.Properties.Settings.AVP_NHA_NGConnectionString2"
      connectionString="Data Source=192.9.0.199;Initial Catalog=AVP_NHA_BOS;Persist Security Info=True;User ID=gokhan;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="AvukatProRaporlar.Properties.Settings.AVP_NHA_NG_BOSConnectionString"
      connectionString="Data Source=192.9.0.199;Initial Catalog=AVP_NHA_NG_BOS;User ID=canan;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="RaporDataSource.Properties.Settings.AVP_NHA_NG_BOSConnectionString"
      connectionString="Data Source=192.9.0.199;Initial Catalog=AVP_NHA_NG_BOS;User ID=canan;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="AvukatProRaporlar.Properties.Settings.AVP_NHA_NG_BOSConnectionString2"
     connectionString="Data Source=.;Initial Catalog=AVP_NHA_NG_BOS;User ID=sa;Password=123"
     providerName="System.Data.SqlClient" />
    <add name="RaporDataSource.Properties.Settings.AVP_NHA_NG_BOSConnectionString1"
      connectionString="Data Source=192.9.0.199;Initial Catalog=AVP_NHA_NG_BOS;User ID=canan;Password=123"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>

    <system.web>
        <httpModules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </httpModules>
    </system.web>

    <system.webServer>
        <modules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </modules>
    </system.webServer>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <AvukatProRaporlar.Raport.Util.Properties.Settings>
            <setting name="AvukatProRaporlar_Raport_Util_com_avukatpro_www_AVP_NG_DOVIZ_SOAP_API_NENC" serializeAs="String">
                <value>http://www.avukatpro.com/AVPNG/AVP_NG_DOVIZ_SOAP_API_NENC.asmx</value>
            </setting>
        </AvukatProRaporlar.Raport.Util.Properties.Settings>
    </applicationSettings>
</configuration>