<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Avukatpro.Reminder.Properties.Settings.BOSConnectionString"
      connectionString="Data Source=YAZILIM2\SQL05;Initial Catalog=DEMO;User ID=sa;Password=PASSWRD1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>