<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>    
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog>
    <targets>
      <target name="file" type="File" fileName="${basedir}/log/${shortdate}_db.txt" layout="${longdate} ${newline} ${level:uppercase=true} ${newline} ${callsite} ${newline} ${message} ${newline} ${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}" CreateDirs="true" encoding="utf-8"/>
    </targets>
    <rules>
      <logger name="*" writeTo="file"/>
    </rules>
  </nlog>  
</configuration>