<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="netTiersService" type="AvukatProLib2.Data.Bases.NetTiersServiceSection, AvukatProLib2.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ServerSideServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ServerSideServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" keepFileOpen="false" layout="${longdate} ${message} ${newline} ${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}" fileName="${basedir}/log/${shortdate}_service.log" />
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>
  <userSettings>
    <ServerSideServices.Properties.Settings>
      <setting name="TebligatRunTime" serializeAs="String">
        <value>03/20/1982 10:00:00</value>
      </setting>
      <setting name="MailRunTime" serializeAs="String">
        <value>03/20/1982 10:00:00</value>
      </setting>
      <setting name="SmsRunTime" serializeAs="String">
        <value>03/20/1982 10:00:00</value>
      </setting>
      <setting name="FaxRunTime" serializeAs="String">
        <value>03/20/1982 10:00:00</value>
      </setting>
      <setting name="UyapRunTime" serializeAs="String">
        <value>03/20/1982 10:00:00</value>
      </setting>
      <setting name="TarafGelismeRunTime" serializeAs="String">
        <value>03/20/1982 10:00:00</value>
      </setting>
      <setting name="AsamaRunTime" serializeAs="String">
        <value>03/20/1982 10:00:00</value>
      </setting>
      <setting name="TebligatRun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MailRun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SmsRun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FaxRun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UyapRun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TarafGelismeRun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AsamaRun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TebligatGun" serializeAs="String">
        <value>Yanlızca Bugün</value>
      </setting>
      <setting name="MailGun" serializeAs="String">
        <value>Yanlızca Bugün</value>
      </setting>
      <setting name="SmsGun" serializeAs="String">
        <value>Yanlızca Bugün</value>
      </setting>
      <setting name="FaxGun" serializeAs="String">
        <value>Yanlızca Bugün</value>
      </setting>
      <setting name="UyapGun" serializeAs="String">
        <value>Yanlızca Bugün</value>
      </setting>
      <setting name="TarafGelismeGun" serializeAs="String">
        <value>Yanlızca Bugün</value>
      </setting>
      <setting name="AsamaGun" serializeAs="String">
        <value>Yanlızca Bugün</value>
      </setting>
      <setting name="TebligatCalismaAraligi" serializeAs="String">
        <value>Hergün</value>
      </setting>
      <setting name="MailCalismaAraligi" serializeAs="String">
        <value>Hergün</value>
      </setting>
      <setting name="SmsCalismaAraligi" serializeAs="String">
        <value>Hergün</value>
      </setting>
      <setting name="FaxCalismaAraligi" serializeAs="String">
        <value>Hergün</value>
      </setting>
      <setting name="UyapCalismaAraligi" serializeAs="String">
        <value>Hergün</value>
      </setting>
      <setting name="TarafGelismeCalismaAraligi" serializeAs="String">
        <value>Hergün</value>
      </setting>
      <setting name="AsamaCalismaAraligi" serializeAs="String">
        <value>Hergün</value>
      </setting>
      <setting name="AsistanRun" serializeAs="String">
        <value>True</value>
      </setting>
    </ServerSideServices.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <ServerSideServices.Properties.Settings>
      <setting name="ServerSideServices_pttGonderiTakipV2_Sorgu" serializeAs="String">
        <value>http://pttws.ptt.gov.tr:7025/GonderiTakipV2/services/Sorgu.SorguHttpSoap11Endpoint/</value>
      </setting>
      <setting name="ServerSideServices_pttTopluSorgulama_GonderiTakipService"
          serializeAs="String">
        <value>http://pttws.ptt.gov.tr/TopluTakip/services/GonderiTakip</value>
      </setting>
      <setting name="ServerSideServices_pttGonderiTakip_SorguService"
          serializeAs="String">
        <value>http://pttws.ptt.gov.tr/GonderiTakip/services/Sorgu</value>
      </setting>
      <setting name="ServerSideServices_pttTopluSorgulamaV2_GonderiTakip"
          serializeAs="String">
        <value>http://pttws.ptt.gov.tr:7026/TopluTakipV2/services/GonderiTakip.GonderiTakipHttpSoap11Endpoint/</value>
      </setting>
    </ServerSideServices.Properties.Settings>
  </applicationSettings>
  <!--<netTiersService defaultProvider="SqlNetTiersProvider">
    <providers>
      <add name="SqlNetTiersProvider" type="AvukatProLib2.Data.SqlClient.SqlNetTiersProvider, AvukatProLib2.Data.SqlClient" connectionStringName="netTiersConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="AvukatProLib2.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="true" />
    </providers>
  </netTiersService>
  <netTiersService1 defaultProvider="SqlNetTiersProvider">
    <providers>
      <add name="SqlNetTiersProvider1" type="MevzuatKararLib.Data.SqlClient.SqlNetTiersProvider, MevzuatKararLib.Data.SqlClient" connectionStringName="AVP_NMK" providerInvariantName="System.Data.SqlClient" entityFactoryType="MevzuatKararLib.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="false" />
    </providers>
  </netTiersService1>-->
  <connectionStrings>
    <add name="BOSEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.9.0.200;initial catalog=BOS;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BOSEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.9.0.200;initial catalog=BOS;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model1Container" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.9.0.200;initial catalog=BOS;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="netTiersConnectionString" connectionString="" providerName="" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString.SQL Server (SqlClient)" value="data source=192.9.0.200;initial catalog=BOS;User ID=sa;Password=P@ssw0rd;persist security info=False;packet size=4096" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <netTiersService defaultProvider="SqlNetTiersProvider">
    <providers>
      <add name="SqlNetTiersProvider" type="AvukatProLib2.Data.SqlClient.SqlNetTiersProvider, AvukatProLib2.Data.SqlClient" connectionStringName="netTiersConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="AvukatProLib2.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="true" />
    </providers>
  </netTiersService>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>