<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="netTiersService" type="AvukatProLib2.Data.Bases.NetTiersServiceSection, AvukatProLib2.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="ErrorLogDir" value="C:\AVP_ERR" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Asistan.Properties.Settings.AVP_NHA_NG_DOPDOLUConnectionString"
      connectionString="Data Source=192.9.0.199;Initial Catalog=AVP_NHA_NG_DOPDOLU;Persist Security Info=True;User ID=gokhan"
      providerName="System.Data.SqlClient" />
    <add name="Asistan.Properties.Settings.AVP_NHA_NG_DOPDOLUConnectionString1"
      connectionString="Data Source=192.9.0.199;Initial Catalog=AVP_NHA_NG_DOPDOLU;User ID=tahsin;Password=654321"
      providerName="System.Data.SqlClient" />
    <add name="Asistan.Properties.Settings.DOLUConnectionString"
      connectionString="Data Source=192.9.0.222;Initial Catalog=DOLU;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="Asistan.Properties.Settings.BOS" connectionString="Data Source=192.9.0.200;User ID=sa;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <netTiersService defaultProvider="SqlNetTiersProvider">
    <providers>
      <add name="SqlNetTiersProvider" type="AvukatProLib2.Data.SqlClient.SqlNetTiersProvider, AvukatProLib2.Data.SqlClient" connectionStringName="AvukatProRaporlar.Properties.Settings.AVP_NHA_NGConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="AvukatProLib2.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="true" />
    </providers>
  </netTiersService>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" keepFileOpen="false" layout="${longdate} ${message} ${newline} ${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}" fileName="${basedir}/Asistan-${shortdate}.txt" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>
  <system.web>
    <httpModules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpModules>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </modules>
  </system.webServer>
</configuration>