<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AvukatProLib.Arama.Properties.Settings.MUSTERIConnectionString"
            connectionString="Data Source=.;Initial Catalog=MUSTERI;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.AVP_NHA_NG_DOPDOLUConnectionString"
            connectionString="Data Source=192.9.0.199;Initial Catalog=AVP_NHA_NG_DOPDOLU;User ID=canan;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.AVP_NHA_NG_DOPDOLUConnectionString1"
            connectionString="Data Source=192.9.0.199;Initial Catalog=AVP_NHA_NG_DOPDOLU;Persist Security Info=True;User ID=canan"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.YKSConnectionString"
            connectionString="Data Source=.;Initial Catalog=YKS;User ID=SA;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.AVP_NHA_NG_DOPDOLUConnectionString2"
            connectionString="Data Source=192.9.0.199;Initial Catalog=AVP_NHA_NG_DOPDOLU;Persist Security Info=True;User ID=canan;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.AVP_NHA_NG_DOPDOLUConnectionString3"
            connectionString="Data Source=192.9.0.199;Initial Catalog=AVP_NHA_NG_DOPDOLU;Persist Security Info=True;User ID=canan;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.AVP_NHA_NG_DOPDOLUConnectionString4"
            connectionString="Data Source=192.9.0.199;Initial Catalog=AVP_NHA_NG_DOPDOLU;User ID=tahsin;Password=654321"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.DOLUConnectionString"
            connectionString="Data Source=192.9.0.222;Initial Catalog=DOLU;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.DOLUConnectionString1"
            connectionString="Data Source=192.9.0.222;Initial Catalog=DOLU;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.DOLUConnectionString2"
            connectionString="Data Source=ING-PC;Initial Catalog=DOLU;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.DOLUConnectionString3"
            connectionString="Data Source=ING-PC;Initial Catalog=DOLU;User ID=sa;Password=PASSWRD1"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.DOLUConnectionString4"
            connectionString="Data Source=192.9.0.222;Initial Catalog=DOLU;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.DOLUConnectionString5"
            connectionString="Data Source=192.9.0.222;Initial Catalog=DOLU;Persist Security Info=True;User ID=sa;Password=PASSWRD1"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.DOLUConnectionString6"
            connectionString="Data Source=MERVE-PC;Initial Catalog=DOLU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.DOLUConnectionString7"
            connectionString="Data Source=MERVE-PC;Initial Catalog=DOLU;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.ING_SON_DBConnectionString"
            connectionString="Data Source=.;Initial Catalog=ING_SON_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.TESTConnectionString"
            connectionString="Data Source=46.4.0.236;Initial Catalog=TEST;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.TESTConnectionString1"
            connectionString="Data Source=46.4.0.236;Initial Catalog=TEST;Persist Security Info=True;User ID=sa;Password=PASSWRD1"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.DOLUConnectionString8"
            connectionString="Data Source=.;Initial Catalog=DOLU;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.DOLUConnectionString9"
            connectionString="Data Source=.;Initial Catalog=DOLU;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.DOLUConnectionString10"
            connectionString="Data Source=.;Initial Catalog=DOLU;Persist Security Info=True;User ID=sa;Password=PASSWRD1"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.DOLUConnectionString11"
            connectionString="Data Source=192.9.0.222;Initial Catalog=DOLU;User ID=sa;Password=PASSWRD1"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.ING_BANKConnectionString"
            connectionString="Data Source=.;Initial Catalog=ING_BANK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.ENTEGRASYONConnectionString"
            connectionString="Data Source=.;Initial Catalog=ENTEGRASYON;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.ING_BANKConnectionString1"
            connectionString="Data Source=DEVELOPER02;Initial Catalog=ING_BANK;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="AvukatProLib.Arama.Properties.Settings.ING_BANKConnectionString2"
            connectionString="Data Source=DEVELOPER02;Initial Catalog=ING_BANK;User ID=sa;Password=PASSWRD1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>