<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="netTiersService" type="AvukatProLib2.Data.Bases.NetTiersServiceSection, AvukatProLib2.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
	</configSections>
	<connectionStrings>
  <add name="netTiersConnectionString" connectionString="" providerName="System.Data.SqlClient" />
  <add name="AvukatProLib.Bakim.Properties.Settings.AVP_MYSConnectionString"
   connectionString="Data Source=.;Initial Catalog=AVP_ING;Persist Security Info=True;User ID=sa;Password=123"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<netTiersService defaultProvider="SqlNetTiersProvider">
		<providers>
			<add name="SqlNetTiersProvider" type="AvukatProLib2.Data.SqlClient.SqlNetTiersProvider, AvukatProLib2.Data.SqlClient" connectionStringName="netTiersConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="AvukatProLib2.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="true" />
		</providers>
	</netTiersService>

    <system.web>
        <httpModules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </httpModules>
    </system.web>

    <system.webServer>
        <modules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </modules>
    </system.webServer>
</configuration>