<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="netTiersService" type="AvukatProLib2.Data.Bases.NetTiersServiceSection, AvukatProLib2.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
		<section name="netTiersService1" type="MevzuatKararLib.Data.Bases.NetTiersServiceSection, MevzuatKararLib.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AdimAdimDavaKaydi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="AVP_NMK" connectionString="Data Source=192.9.0.199;Initial Catalog=AVP_NMK;uid=Ihsan;pwd=123" providerName="" />
		<add name="CS" connectionString="Data Source=192.9.0.199;Initial Catalog=AVP_NHA_NG;uid=yilmaz;pwd=123" providerName="System.Data.SqlClient" />
		<add name="CS2" connectionString="Data Source=192.9.0.145;Initial Catalog=AVP_NHA_KISA;uid=sa;pwd=123" providerName="System.Data.SqlClient" />
		<add name="netTiersConnectionString" connectionString="Data Source=192.9.0.199;Initial Catalog=AVP_NHA_NG;uid=yilmaz;pwd=123" providerName="" />
		<add name="AdimAdimDavaKaydi.Properties.Settings.AVP_NHAConnectionString" connectionString="Data Source=192.9.0.199;Initial Catalog=AVP_NHA_NG;uid=yilmaz;pwd=123" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="ErrorLogDir" value="C:\AVP_ERR" />
	</appSettings>
	<netTiersService defaultProvider="SqlNetTiersProvider">
		<providers>
			<add name="SqlNetTiersProvider" type="AvukatProLib2.Data.SqlClient.SqlNetTiersProvider, AvukatProLib2.Data.SqlClient" connectionStringName="netTiersConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="AvukatProLib2.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="true" />
		</providers>
	</netTiersService>
	<netTiersService1 defaultProvider="SqlNetTiersProvider">
		<providers>
			<add name="SqlNetTiersProvider1" type="MevzuatKararLib.Data.SqlClient.SqlNetTiersProvider, MevzuatKararLib.Data.SqlClient" connectionStringName="AVP_NMK" providerInvariantName="System.Data.SqlClient" entityFactoryType="MevzuatKararLib.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="false" />
		</providers>
	</netTiersService1>
	<applicationSettings>
		<AdimAdimDavaKaydi.Properties.Settings>
			<setting name="AdimAdimDavaKaydi_DovizAPI_AVP_NG_DOVIZ_SOAP_API_NENC" serializeAs="String">
				<value>http://hukukofisi.net/AVPNG/AVP_NG_DOVIZ_SOAP_API_NENC.asmx</value>
			</setting>
			<setting name="avpng_ErrorHandlerSOAPAPI_ERRORHANDLER_SOAP_API_NENC" serializeAs="String">
				<value>http://update.avukatpro.com/ERRORHANDLER_SOAP_API_NENC.asmx</value>
			</setting>
		</AdimAdimDavaKaydi.Properties.Settings>
	</applicationSettings>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="mail.avukatpro.com" userName="avukatpro@avukatpro.com" password="sokakav" />
			</smtp>
		</mailSettings>
	</system.net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

    <system.web>
        <httpModules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </httpModules>
    </system.web>

    <system.webServer>
        <modules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </modules>
    </system.webServer>
</configuration>