<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AVPUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <nlog>
    <targets>
      <target name="file" type="File" fileName="${basedir}/log/${shortdate}_db.txt" layout="${longdate} ${newline} ${level:uppercase=true} ${newline} ${callsite} ${newline} ${message} ${newline} ${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}" CreateDirs="true" encoding="utf-8"/>
    </targets>
    <rules>
      <logger name="*" writeTo="file"/>
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="SunucuAdresi" value="ftp://94.138.206.50"/>
    <add key="ftpUid" value="aykutbastug"/>
    <add key="ftpPwd" value="PASSWRD1"/>
    <add key="cnString" value="data source=94.138.206.50\SQLEXPRESS;database=AVPYONETIM2;uid=avp;pwd=PASSWRD1;"/>
  </appSettings>
  <userSettings>
    <AVPUpdater.Properties.Settings>
      <setting name="KontrolTipi" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="KontrolGunu" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KontrolSaati" serializeAs="String">
        <value>01/01/2012 17:00:00</value>
      </setting>
      <setting name="ProgramiGuncelle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TablolariGuncelle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VerileriGuncelle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewleriGuncelle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProcedureleriGuncelle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TriggerlariGuncelle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProgramYedekKlasoru" serializeAs="String">
        <value>ProjeYedek</value>
      </setting>
      <setting name="SQLYedekKlasoru" serializeAs="String">
        <value>SQLYedek</value>
      </setting>
      <setting name="FunctionlariGuncelle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CetvelleriGuncelle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RaporlariGuncelle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SablonlariGuncelle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SqlYedekAlindi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProgramYedekAlindi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DosyaIndirmeYapildi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DosyaGuncellemeYapildi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TabloGuncellemeYapildi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TanimGuncellemeYapildi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CetvelGuncellemeYapildi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaporGuncellemeYapildi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SablonGuncellemeYapildi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KeyGuncellemeYapildi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ViewGuncellemeYapildi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProcedureGuncellemeYapildi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FunctionGuncellemeYapildi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TriggerGuncellemeYapildi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VeritabaniYedegiAlinsin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cnString" serializeAs="String">
        <value>data source=94.138.206.50\SQLEXPRESS;database=AVPYONETIM2;uid=avp;pwd=PASSWRD1;</value>
      </setting>
      <setting name="SunucuAdresi" serializeAs="String">
        <value>ftp://94.138.206.50</value>
      </setting>
      <setting name="ftpUid" serializeAs="String">
        <value>aykutbastug</value>
      </setting>
      <setting name="ftpPwd" serializeAs="String">
        <value>PASSWRD1</value>
      </setting>
    </AVPUpdater.Properties.Settings>
  </userSettings>
</configuration>
