<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AvukatPro.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AvukatPro.Services.Properties.Settings>
            <setting name="AvukatPro_Services_pttSorgu_SorguService" serializeAs="String">
                <value>http://pttws.ptt.gov.tr/GonderiHareket/services/Sorgu</value>
            </setting>
        </AvukatPro.Services.Properties.Settings>
    </applicationSettings>
</configuration>